<p id="notice"><%= notice %></p>

<h1 class="col-md-12">My Coder Factory Dashboard</h1>

<aside  class="col-md-3">
  <div class="col-left">
    <div class="widget">
      <h3>My details</h3>
      <hr>
      <p>
        <strong>Name:</strong>
        <%= @profile.name %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @profile.phone %>
      </p>

      <p>
        <strong>Profile picture:</strong>
        <%= @profile.profile_picture %>
      </p>

      <p>
        <strong>Role:</strong>
        <% @profile.user.roles.each do |role| %><span class="label label-default"><%= role.name %></span> <% end %>
      </p>

      <p>
      <strong>Points:</strong>
      <% if current_user.points_table %>
      <%= current_user.points_table.current %>
      <% end %>
      </p>
      <p><strong>Profile completion: </strong><%= @profile.completion %></p>

      <br>
      <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-default' %>
    </div>
  </div>
</aside>
<div class="col-md-9">
  <div class="row">

    <div class="col-md-12">
      <div class="col-right">
        <div class="widget">
          <h3>My programmes</h3>
          <% if @profile.user.programmes.count > 0 %>
            <table class="table table-resonsive">
              <tr>
              <th>Programme</th>
              <th></th>
              </tr>
              <% @profile.user.programmes.each do |programme| %>
                <tr>
                  <td><%= @profile.name + "'s programme" %></td>
                  <td><%= link_to 'Edit', edit_programme_path(programme) %></td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p>No programmes</p>
          <% end %>
          <hr>
          <h4>Add a programme</h4>
          <p>
            <%= link_to "Choose a popular programme", new_programme_path, class: 'btn btn-primary' %> 
            <%= link_to "Try the Personalised Programme Wizard", my_goals_path(programme: 'new'), class: 'btn btn-success' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-right">
        <div class="widget">
          <h3>My goals</h3>
          
            <% if @profile.user.goals.count > 0 %>
              <table class="table table-resonsive">
                <tr>
                  <th width="50%">Goal</th>
                  <th class="text-center">% Achieved</th>
                </tr>
                <% @profile.user.goals.each do |goal| %>
                  <tr>
                    <td><%= goal.name %></td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </table>
              <hr>
            <% else %>
              <%= link_to "Add my goals", my_goals_path, class: 'btn btn-success' %>
            <% end %>
            <%= link_to "Manage my goals", my_goals_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
      <div class="col-right">
        <div class="widget">
          <h3>My skills</h3>
          <% if @user_skills.count > 0 %>
            <table class="table table-resonsive">
              <tr>
                <th width="50%">Skill</th>
                <th class="text-center">Level</th>
              </tr>
              <% @user_skills.each do |user_skill| %>
                  <tr>
                    <td><%= user_skill.skill.name %></td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-<%= skill_label(user_skill.skill_level) %>" role="progressbar" aria-valuenow="<%= user_skill.skill_level %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= user_skill.skill_level / 5.0 * 100 %>%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>

                    </td>
                  </tr>
              <% end %>
            </table>
            <hr>
          <% else %>
            <%= link_to "Add my skills", my_skills_path, class: 'btn btn-success' %>
          <% end %>
          <%= link_to "Manage my skills", my_skills_path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
      <div class="col-md-12">
        <div class="col-right">
          <div class="widget">
            <h3>My modules</h3>
            <hr>
            <% if @profile.user.goals.count > 0 %>
              <% @profile.user.goals.each do |goal| %>
                <h3>Goal: <%= goal.name %></h3>
                <table class="table table-resonsive">
                  <tr>
                    <th>Module</th>
                    <th>Progress</th>
                  </tr>
                  <% goal.units.each do |unit| %>
                    <tr>
                      <td><%= unit.name %></td>
                      <td>
                        <% if !@profile.user.units.include?(unit) %>
                          <%= link_to "Add module to programme", root_path, class: 'btn btn-default' %>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

