<%= content_for :page_title, @profile.name + ', ' + @profile.title + ' at Coder Factory' %>
<%= content_for :title, @profile.name + ', ' + @profile.title + ' at Coder Factory' %>
<%= content_for :description, @profile.info %>
<%= content_for :image, @profile.profile_picture %>
<%= content_for :author, @profile.name %>

<h1 class="col-md-12"><%= @profile.name %>'s Profile</h1>
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a><span class="divider"></span></li>
      <li class="active"><%= @profile.name %></li>
    </ul>
  </div>

<aside class="col-md-4">
  <div class="col-left">
    <div class="widget" itemscope itemtype="http://data-vocabulary.org/Person">
      <h3>About me</h3>
      <hr>
      <p class="text-center">
        <% if @profile.profile_picture %>
          <span itemprop="photo"><%= cl_image_tag @profile.profile_picture, class: 'img-responsive img-circle center-block'  %>
        <% end %>
        <strong><span itemprop="name"><%= @profile.name %></span></strong><br>
        <span itemprop="title"><%= @profile.title %></span>
      </p>
      <p class="text-justify"><%= @profile.info %></p>
      <div class="row">
      <div class="col-md-6 links">
      <ul class="fa-ul">
        <li>
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x"></i>
          </span> 
          <%= link_to "Google+", @profile.google_plus %>
        </li>
        <li>
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span> 
          <%= link_to "Twitter", @profile.twitter %>
        </li>
        </ul>
        </div>
        <div class="col-md-6 links">
        <ul class="fa-ul">

        <li>
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span> 
          <%= link_to "LinkedIn", @profile.linkedin %>
        </li>
        <li>
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x"></i>
          </span> 
          <span itemprop="name"><%= link_to "Website", @profile.website %></span>
        </li>
      </ul>
      </div></div>

     
      <br>
      <% if user_signed_in? %>
        <% if @profile == current_user.profile %>
          <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-default btn-xs' %>
        <% end %>
      <% end %>
    </div>
  </div>
</aside>
<div class="col-md-8">
  <% if @posts.count > 0 %>
    
      <h2 class="white">Recent posts</h2>

        <% @posts.each do |post| %>
      <div class="col-right">
        <div class="post">
          <div class="blog-img">
            <% if post.image.blank? %>
              <a href="<%= post_path(post) %>"><img src="<%= asset_path 'PLAY.png' %>" alt="" class="img-responsive"></a>
            <% else %>
                <a href="<%= post_path(post) %>"><img src="<%= asset_path post.image %>" alt="" class="img-responsive" ></a>
            <% end %>
            <h2 class="lead text-center"><%= post.title %></h2>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <% if @posts.all.count > 3 %>
      <div class="col-right">
      <div class="apple_pagination">
        <%= will_paginate @posts %>
        </div>
      </div><!-- end col-right-->
    <% end %>

      </div>
    <% end %>
  </div>

