<h1>Enrolments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date enrolled</th>
      <th>Programme</th>
      <th>Intake</th>
      <th>Amount Paid</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrolments.each do |enrolment| %>
      <tr class="<%= 'success' if enrolment.created_at.to_date == Date.today %>">
        <td><%= link_to enrolment.first_name + ' ' + enrolment.last_name, enrolment %></td>
        <td><%= enrolment.created_at.strftime('%e %b %y @ %H:%M') %></td>
        <td><%= enrolment.popular_programme.name %></td>
        <td><%= enrolment.weekend_programme.location.city + ': ' + enrolment.weekend_programme.date.strftime('%e %b %y') %></td>
        <td><% if enrolment.payment %>$<%= enrolment.payment.payment_price / 100 %><% end %></td>
        <td><%= link_to edit_enrolment_path(enrolment) do %><i class="fa fa-pencil"></i> <% end %></td>
        <td><%= link_to enrolment, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i> <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrolment', new_enrolment_path %>
