<%= content_for :page_title, 'Enrol' %>
<%= content_for :icon, 'edit' %>
<%= content_for :title, 'Enrol in a Coder Factory programme' %>
<%= content_for :description, 'Enrol in a Coder Factory web application development programme or workshop. Our classes are fun.' %>
<div class="container">
      <div class="row">
<% if @weekend_programme %>
<h1 class="col-md-12"><i class="fa fa-edit"></i> Registration <small>Step 1 of 2</small></h1>
<br><br><br>

<div class="col-md-8 col-sidebar">
		<h2>1. Register your details </h2>
		<%= render 'form' %>
</div>
<div class="col-md-4">
	<div class="col-sidebar">
		    <%= render 'layouts/selected_programme' %>

	</div>
</div>
<% else %>
<p>Please select a class first</p>
<% end %>
</div></div>