<div class="event programme">
<h3>
  <span class="fa-stack hidden-xs">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-map-marker fa-stack-1x"></i>
  </span>
<%= scheduled_programme.location.city %>  <small><%= scheduled_programme.day %></small>
</h3>
<div class="row">
  <div class="col-sm-8">
    
      <i class="fa fa-map-marker fa-fw"></i>
    <span class="all-caps">
      <%= scheduled_programme.location.city %>
    </span>: 
    <%= link_to scheduled_programme.location.name, scheduled_programme.location, target: '_blank' %>

    <br>
      <i class="fa fa-calendar fa-fw"></i>
    <%= scheduled_programme.date.strftime('%e %B') %> - <%= scheduled_programme.end_date.strftime('%e %B %Y') %>
    <br>
      <i class="fa fa-clock-o fa-fw"></i>
    <%= scheduled_programme.start_time.strftime('%l:%M%P') %> - <%= scheduled_programme.end_time.strftime('%l:%M%P') %>
  </div>

  
  <div class="col-sm-4">

  
  
 
    <a href="#enrolment-form" data-toggle="adaptive-modal" class='btn btn-block btn-warning'>
      <span class="fa-stack">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-edit fa-stack-1x"></i>
      </span>
      REGISTER
    </a>
  </div>
</div>
</div>
<div id="enrolment-form">
  <div class="enrolment-heading">
    <h1><img src="<%= asset_path 'logo23.png' %>" width="100px"> Registration <small>Step 1 of 2</small></h1>
    <div class="enrolment-body">
      
      <%= render 'enrolment_form' %>
    </div>
  </div>
</div>
<%= javascript_include_tag "jquery.form-validator.js" => true %>
  