<div class="facts">
    <div class="row">
      <div class="col-md-12">
        <h3>The numbers:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <p class="text-center extra-margin-bottom"><strong>No. workshops</strong></p>
        <p class="text-center"><span class="label label-primary mega">&nbsp;<%= @popular_programme.units.count %>&nbsp;</span></p><br>
      </div>
      <div class="col-lg-3 col-sm-6">
        <p class="text-center extra-margin-bottom"><strong>Class hours</strong></p>
        <p class="text-center"><span class="label label-primary mega">&nbsp;<%= how_many_hours(@popular_programme) %>&nbsp;</span></p><br>
      </div>
      <div class="col-lg-3 col-sm-6">
        <p class="text-center extra-margin-bottom"><strong>Study weeks</strong></p>
        <p class="text-center"><span class="label label-primary mega">&nbsp;<%= how_many_hours(@popular_programme) / 6 %>&nbsp;</span></p><br>
      </div>
      <div class="col-lg-3 col-sm-6">
        <p class="text-center extra-margin-bottom"><strong>Price (AUD)</strong></p>
        <p class="text-center"><small><span class="label label-primary mega"><%= @popular_programme.price %><sup>*</sup></small></span></p>
        <br>
        <p class="text-center terms"><sup>*</sup> <a href="#" data-toggle="modal" data-target="#payment-plans">Upfront payment price. Payment plans available</a></p><br>
      </div>
    </div>
</div>
<div id="payment-plans" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <%= render 'layouts/payment_plans' %>
</div>