<h1>Programmes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-right">Price</th>
      <th class="text-right">Future Intakes</th>
      <th class="text-right">Past Intakes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @popular_programmes.each do |popular_programme| %>
      <tr>
        <td><i class="fa fa-<%= popular_programme.icon %>"></i> <%= link_to popular_programme.name, popular_programme %></td>
        <td class="text-right"><%= popular_programme.price %></td>
        <td class="text-right"><%= popular_programme.weekend_programmes.future_programmes.count if popular_programme.weekend_programmes.future_programmes %></td>
        <td class="text-right"><%= popular_programme.weekend_programmes.past_programmes.count if popular_programme.weekend_programmes.past_programmes %></td>
        <td><%= link_to 'Edit', edit_popular_programme_path(popular_programme) %></td>
        <td><%= link_to 'Destroy', popular_programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New programme', new_popular_programme_path %>
