<h1 class="col-md-12"><%= @popular_programme.name %></h1>
  <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
          <li><a href="<%= popular_programmes_path %>">Popular Programmes</a> <span class="divider"></span></li>
          <li class="active"><%= @popular_programme.name %></li>
        </ul>
    </div>

<%= render 'layouts/programme_sidebar' %>
 
<section class="col-md-8">
    <div class="col-right">
    <div class="main-img">
            <img src="<%= asset_path @popular_programme.image %>" alt="<%= asset_path @popular_programme.image %>" class="img-responsive">
            <p class="lead"><%= @popular_programme.tagline %></p>
        </div>  
        <h2>Programme details</h2>
        <p><%= @popular_programme.description.html_safe %> </p>
        
        <% if @popular_programme.weekend_programmes.count > 0 %>
        <hr>
        <h3>Scheduled programmes</h3>
        
                <% @popular_programme.weekend_programmes.each do |weekend_programme| %>
                  <div class="strip-courses">
                   <div class="title-course">
                   <h3><span class="all-caps"><%= weekend_programme.location.city %></span></h3>
                      <ul >

                          <li><i class="fa fa-male"></i><i class="fa fa-female"></i> Places left: <span class="badge"><%= weekend_programme.number_of_places %></span></li>
                           <li><i class="fa fa-bookmark"></i> ID: 012</li>
                      </ul>
                    </div>
                    <div class="description">
                     <div class="row">
                         <div class="col-xs-4">
                         <h4> Where</h4>
                          <%= weekend_programme.location.name %> [<%= link_to 'map', weekend_programme.location.map_link %>]<br>
                          <% if !weekend_programme.location.building.blank? %><%= weekend_programme.location.building %><br><% end %>
                          <%= weekend_programme.location.street %><br>
                          <%= weekend_programme.location.suburb %> <%= weekend_programme.location.state %>  <%= weekend_programme.location.postcode %><br>
                           
                         </div>
                         <div class="col-xs-4">
                         <h4> When</h4>
                            <%= weekend_programme.day %><br>
                            <%= weekend_programme.date.strftime('%e') %> - <%= weekend_programme.end_date.strftime('%e %B %Y') %><br>
                            <%= weekend_programme.start_time.strftime('%l:%M%P') %> - <%= weekend_programme.end_time.strftime('%l:%M%P') %><br>
                          </div>
                          <div class="col-xs-4">
                          <h6>Exact number of credit points</h6>
                            <a href="course-detail.html" class="btn btn-primary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> <%= @popular_programme.total_points %> Credit points for $<%= @popular_programme.total_points * PRICE_PER_POINT / 100 %> </a>
                            <h6>Credit Point Pack: <%= @popular_programme.credit_point_pack.name %></h6>
                            <a href="course-detail.html" class="btn btn-success"><i class="fa fa-arrow-circle-o-right"></i> <%= @popular_programme.credit_point_pack.number_of_points %> points for $<%= @popular_programme.credit_point_pack.price / 100 %> </a>
                         </div>
                      </div>
                      </div>
                      
                         
                        <% end %>
              
        <% end %>  
                     
                     </div>
                   </div><!-- end strip-->
                    
               <hr>
                   <h3>Units of study</h3>
        <% @units.each do |unit| %>
        <div class="strip-lessons">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-style-one borders"><img src="<%= asset_path 'lessons.png' %>" alt=""><h5><%= unit.skill_group.name %></h5></div>
                </div>
                <div class="col-md-9">

                        <h4><a href="<%= unit_path(unit) %>"><%= unit.name %></a> </h4>
                        <h4><span class="label label-default"><%= unit.workshop_credits %> credit points</span></h4>
                        <p><%= unit.tagline %></p>
                    
                        

                        
                </div>
            </div>
        </div><!-- End Strip course -->
        <% end %>
        <%= link_to programmes_path, class: 'btn btn-lg btn-primary' do %><i class="fa fa-plus-circle"></i> Add to Wish List <% end %>
          <%= link_to programmes_path, class: 'btn btn-lg btn-success' do %><i class="fa fa-arrow-circle-o-right"></i> Enrol<% end %>
    </div><!-- end col right-->
  
</section>