<%= content_for :page_title, @popular_programme.name %>
<%= content_for :link, popular_programme_url(@popular_programme) %>
<%= content_for :title, @popular_programme.name + ' Locations: Sydney, Melbourne, Brisbane, Gold Coast, Adelaide, Perth' %>
<%= content_for :description, @popular_programme.name + ': ' + @popular_programme.tagline + ' Next start date: ' + @popular_programme.weekend_programmes.first.date.strftime('%e %h %Y').to_s %>
<%= content_for :image, @popular_programme.image %>
<%= content_for :icon, @popular_programme.icon %>




 
<section class="col-lg-8 col-sidebar">
  <div class="post-img">
        <img itemprop="image" src="<%= asset_path @popular_programme.image %>" alt="<%= @popular_programme.name %>" class="img-responsive">
    
    
    
  </div>
  <h3 class="lead"><%= @popular_programme.tagline %></h3>
  <%= render 'programme_numbers' %>
  <div class="col-right" id="information">
    <div class="text-justify">
      <p><%= @popular_programme.description.html_safe %> </p>
    </div>
  </div>

    <!-- Programme numbers -->
    

    <!-- Scheduled programmes -->
    <% if @weekend_programmes.count > 0 %>
    
    <div class="scheduled" id="scheduled">
      <h3>Scheduled programmes</h3>
      <%= render partial: "scheduled_programme", collection: @weekend_programmes %>
    </div>
    <% end %>  


    <!-- Included workshops -->
    <div class="scheduled" id="workshops">
      <h3>Included workshops</h3>
      <div class="included-workshops">
 
<div class="panel-group" id="accordion">
  <% @units.each_with_index do |unit, index| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>">
            <%= (index + 1).to_s.rjust(2, '0') + '. ' + unit.name %>
          </a>

          
            
              
        </h4>
      </div>
      <div id="collapse<%= index %>" class="panel-collapse collapse <%= 'in' if index == 0 %>">
        <div class="panel-body">
          <p class="labels">
          <span class=" label label-<%= panel_color(unit.skill_group) %>"><%= unit.skill_group.name %></span>
            <span class="label label-<%= skill_label(unit.skill_level_id) %>"><%= skill_level_name(unit.skill_level) %></span>
            
            <span class="label label-default"><%= pluralize(unit.duration_minutes / 60.0, 'hour') %></span>
          </p>
          <p class="lead"><%= unit.tagline %></p>
          <% if !unit.outcome.blank? %>
            <p><strong>Outcome:</strong></p>
            <p><%= unit.outcome %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  
</div>
      
    
    <a href="#scheduled" class="btn btn-success btn-xl">Book this programme</a>
  
</section>
<aside class="col-md-4">
  <%= render 'layouts/programme_sidebar' %>
</aside>

</div></div>


