<%= content_for :page_title, @popular_programme.name %>
<%= content_for :link, popular_programme_url(@popular_programme) %>
<%= content_for :title, @popular_programme.name + ' Locations: Sydney, Melbourne, Brisbane, Gold Coast, Adelaide, Perth' %>
<%= content_for :description, @popular_programme.name + ': ' + @popular_programme.tagline + ' Next start date: ' + @popular_programme.weekend_programmes.first.date.strftime('%e %h %Y').to_s %>
<%= content_for :image, @popular_programme.image %>

<h1 class="col-md-12"><i class="fa fa-<%= @popular_programme.icon %>"></i> <%= @popular_programme.name %></h1>
  <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
          <li class="active"><%= @popular_programme.name %></li>
        </ul>
    </div>
<aside class="col-lg-4 hidden-xs hidden-sm">
  <%= render 'layouts/programme_sidebar' %>
</aside>
 
<section class="col-lg-8">
  <div class="col-right">
    <div class="main-img">
      <img src="<%= asset_path @popular_programme.image %>" alt="<%= asset_path @popular_programme.image %>" class="img-responsive">
      <p class="lead"><%= @popular_programme.tagline %></p>
      
    </div>

    <h2>
      <span class="fa-stack">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-<%= @popular_programme.icon %> fa-stack-1x"></i>
      </span>
      
      <%= @popular_programme.name %>
    </h2>
    
    <p><%= @popular_programme.description.html_safe %> </p>
  </div>

    <!-- Programme numbers -->
    <%= render 'programme_numbers' %>

    <!-- Scheduled programmes -->
    <% if @popular_programme.weekend_programmes.count > 0 %>
    <div class="scheduled">
      <h3>Scheduled programmes</h3>
      <%= render @weekend_programmes %>
    </div>
    <% end %>  


    <!-- Included workshops -->
    <div class="scheduled">
      <h3>Included workshops</h3>
      <div class="included-workshops">
      

      <div class="row">            
      <% @units.each do |unit| %>

       
      <div class="col-sm-12">
        <div class="panel panel-<%= panel_color(unit.skill_group) %>">
          <div class="panel-heading">
              <p class="panel-title"><%= unit.name %></p>
          </div>
          <div class="panel-body">
              <p class="labels">
              <span class="label label-<%= panel_color(unit.skill_group) %>"><%= unit.skill_group.name %></span>
              
                <span class="label label-<%= skill_label(unit.skill_level) %>"><%= skill_level_name(unit.skill_level) %></span>
              
              <span class="label label-default"><%= pluralize(unit.duration_minutes / 60.0, 'hour') %></span>
            </p>
            <p class="lead"><%= unit.tagline %></p>
          </div>
        </div>
      </div>
      <% end %>

      
    </div>
    <% if @popular_programme.weekend_programmes.count > 0 %>
      <% @popular_programme.weekend_programmes.each do |weekend_programme| %>
        <%= link_to new_enrolment_path(intake: weekend_programme.id), class: 'btn btn-lg btn-success btn-lg' do %><i class="fa fa-book"></i> Book in for <%= weekend_programme.location.city %><% end %>
      <% end %>
    <% end %>
  
</section>
<aside class="col-md-4 visible-xs visible-sm">
  <%= render 'layouts/programme_sidebar' %>
</aside>





