<h1 class="col-md-12"><i class="fa fa-<%= @popular_programme.icon %>"></i> <%= @popular_programme.name %></h1>
  <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
          <li><a href="<%= popular_programmes_path %>">Coder Factory Programmes</a> <span class="divider"></span></li>
          <li class="active"><%= @popular_programme.name %></li>
        </ul>
    </div>

<%= render 'layouts/programme_sidebar' %>
 
<section class="col-md-8">
  <div class="col-right">
    <div class="main-img">
      <img src="<%= asset_path @popular_programme.image %>" alt="<%= asset_path @popular_programme.image %>" class="img-responsive">
      <p class="lead"><%= @popular_programme.tagline %></p>
      
    </div>

    <h2>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-<%= @popular_programme.icon %> fa-stack-1x fa-inverse"></i>
      </span>
      
      <%= @popular_programme.name %>
    </h2>
    <p class="lead"></p>
    <p><%= @popular_programme.description.html_safe %> </p>
    <div class="row">
    <div class="col-sm-6">
      <p class="lead">Included workshops: <span class="label label-default"><%= @popular_programme.units.count %></span> 
      <br><small><a href="#included">See workshops below</a></small></p>
    </div>
    <div class="col-sm-6">
    
      <p>Price of programme: $<%= @popular_programme.price %></p>
    </div>
  </div>

    <% if @popular_programme.weekend_programmes.count > 0 %>
      
      <hr>
      <h3>Scheduled programmes</h3>
      <%= render @weekend_programmes %>
    <% end %>  

      <h3>Included workshops</h3>
      <hr>
      <div class="row">            
      <% @units.each_with_index do |unit, index| %>

        <% if index%2 == 0 %>
          </div>
          <div class="row">
        <% end %>
      <div class="col-sm-6">
        <div class="panel panel-<%= panel_color(unit.skill_group) %>">
          <div class="panel-heading">
              <h2 class="panel-title"><%= unit.name %></h2>
          </div>
          <div class="panel-body">
              <p class="labels">
              <span class="label label-<%= panel_color(unit.skill_group) %>"><%= unit.skill_group.name %></span>
              <% if unit.unit_skills.count > 0 %>
                <span class="label label-<%= skill_label(unit.unit_skills.first.after_skill_level) %>"><%= skill_level_name(unit.unit_skills.first.after_skill_level) %></span>
              <% end %>
              <span class="label label-default"><%= pluralize(unit.duration_minutes / 60.0, 'hour') %></span>
            </p>
            <p class="lead"><%= unit.tagline %></p>
          </div>
        </div>
      </div>
      <% end %>

      <%= link_to programmes_path, class: 'btn btn-lg btn-success' do %><i class="fa fa-arrow-circle-o-right"></i> Start this programme<% end %>
    </div><!-- end col right-->
  
</section>