<h1 class="col-md-12">My skills</h1>
    <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="#">Home</a> <span class="divider"></span></li>
          <li class="active">My skills</li>
        </ul>
    </div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
				
				<div class="col-left">
					<h2>Grade your skills</h2>
					<p>These are instructions on how to grade your skills.</p>
					<p>Perhaps there are some examples to help people decide their skill level.</p>

					<div class="row">
						<div class="col-sm-4">
							<p><span class="btn btn-default btn-xs">-</span></p>
						</div>
						<div class="col-sm-8">
							<p> No skills in this area</p>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<p><span class="btn btn-default btn-xs">Noob</span></p>
						</div>
						<div class="col-sm-8">
							<p> You have played around</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<p><span class="btn btn-default btn-xs">Experienced</span></p>
						</div>
						<div class="col-sm-8">
							<p> You have some decent skills</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<p><span class="btn btn-default btn-xs">Advanced</span></p>
						</div>
						<div class="col-sm-8">
							<p> You have serious experience</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<p><span class="btn btn-default btn-xs">Expert</span></p>
						</div>
						<div class="col-sm-8">
							<p> You could teach this class.</p>
						</div>
					</div>
					

				</div>
			</div>
			<div class="col-md-8">
						<% if @user_skills %>
							<% @skill_groups.each do |skill_group| %>
								<% if skill_group.skills.count > 0 %>
								<div class="col-right">
									<div class="skill-group">
										<h3><%= skill_group.name %></h3>


										<% @user_skills.each do |user_skill| %>
											<% if skill_group.skills.include?(user_skill.skill) %>
												<div id="<%= user_skill.id %>" class="skill-buttons">
													<%= render user_skill %>
												</div>
											<% end %>
										<% end %>
									</div></div>
								<% end %>
							<% end %>
						<% end %>

						<% if @guest_user_skills %>
							<% @skill_groups.each do |skill_group| %>
								<% if skill_group.skills.count > 0 %>
								<div class="col-right">
									<div class="skill-group">
										<h3><%= skill_group.name %></h3>


										<% @guest_user_skills.each do |guest_user_skill| %>
											<% if skill_group.skills.include?(guest_user_skill.skill) %>
												<div id="<%= guest_user_skill.id %>" class="skill-buttons">
													<%= render guest_user_skill %>
												</div>
											<% end %>
										<% end %>
									</div></div>
								<% end %>
							<% end %>
						<% end %>
	
					<br>
					<div class="clearfix">
					<div class="pull-right">
						<% if params[:programme] == 'new' %>
							<p><%= link_to "Back to Goals", my_goals_path, class: 'btn btn-default' %>
							<%= link_to 'See your personalised programme', new_programme_path, class: 'btn btn-success btn-lg' %>
						<% else %>
							<%= link_to 'Save and return to profile', profile_path(current_user.profile), class: 'btn btn-success btn-lg' %> 
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>

			
</div></div>
