<h1>What are your current skills?</h1>

<% @skill_groups.each do |skill_group| %>
	<h3><%= skill_group.name %></h3>
	<table class="table">
		
	
		<% @guest_user_skills.each_with_index do |user_skill, index| %>
			<% if skill_group.skills.include?(user_skill.skill) %>
				
					<tr>
						<td width="40%"><%= user_skill.skill.name %></td>
						<td id="user-skill-<%= index %>-skill-level-0"><%= link_to "None", choose_guest_user_skill_path(user_skill, skill_level: 0), class: button(user_skill, 0), remote: true %></td>
						<td id="user-skill-<%= index %>-skill-level-1"><%= link_to "I've played around", choose_guest_user_skill_path(user_skill, skill_level: 1), class: button(user_skill, 1), remote: true %></td>
						<td id="user-skill-<%= index %>-skill-level-2"><%= link_to "I'm dangerous", choose_guest_user_skill_path(user_skill, skill_level: 2), class: button(user_skill, 2), remote: true %></td>
						<td id="user-skill-<%= index %>-skill-level-3"><%= link_to "I'm confident", choose_guest_user_skill_path(user_skill, skill_level: 3), class: button(user_skill, 3), remote: true %></td>
						<td id="user-skill-<%= index %>-skill-level-4"><%= link_to "I could teach it", choose_guest_user_skill_path(user_skill, skill_level: 4), class: button(user_skill, 4), remote: true %></td>
						<td id="user-skill-<%= index %>-skill-level-5"><%= link_to "I have taught it", choose_guest_user_skill_path(user_skill, skill_level: 5), class: button(user_skill, 5), remote: true %></td>
					</tr>
			<% end %>
		<% end %>
	</table>
<% end %>
<%= link_to "Show me my personalised programme", new_programme_path, class: 'btn btn-primary btn-lg pull-right' %>
