<%= simple_form_for(@banner) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :image, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :link, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :active %>
  </div>
  <%= f.button :submit %>
  
<% end %>
