<div class="row">
  <% if @next_three_events.count > 0 or @next_three_programmes.count > 0 %>

  <% if @next_three_programmes.count > 0 %>
	  <h2 class="col-md-12 text-center ">Starting soon at <span class="lowercase name">coderfactory</span></h2>
	  
	  	<div class="row">
			  	<h3 class="col-md-12">Programmes</h3>
			  <% @next_three_programmes.each do |weekend_programme| %>
			  			<div class="col-md-4">
			  			<div class="panel panel-default">
			  				<div class="panel-heading">
			  					<p class="panel-title text-center all-caps">
	                  <%= weekend_programme.location.city %>
	                </p>
			  				</div>
			  				<div class="panel-body">
			  					<h3>
	                <span class="fa-stack">
	                  <i class="fa fa-circle-thin fa-stack-2x"></i>
	                  <i class="fa fa-<%= weekend_programme.popular_programme.icon %> fa-stack-1x"></i>
	                </span> 
	                <%= weekend_programme.popular_programme.name %>
	              </h3>
              	<p>
                  <i class="fa fa-map-marker fa-fw"></i>
	                 
	                <%= link_to weekend_programme.location.name, weekend_programme.location, target: '_blank' %>

	                <br>
	                  <i class="fa fa-calendar fa-fw"></i>
	                <%= weekend_programme.date.strftime('%A, %e/%m/%y') %>
	                <br>
	                  <i class="fa fa-clock-o fa-fw"></i>
	                <%= weekend_programme.start_time.strftime('%l:%M%P') %> - <%= weekend_programme.end_time.strftime('%l:%M%P') %>
	              </p>


                <%= link_to weekend_programme.popular_programme, class: 'btn btn-block btn-default' do %> 
                  <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-info fa-stack-1x"></i>
                  </span>
                  More info
                <% end %>
              
              
                <%= link_to new_enrolment_path(intake: weekend_programme.id), class: 'btn btn-block btn-success' do %>
                  <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-edit fa-stack-1x"></i>
                  </span>
                  ENROL
                <% end %>
			  			</div>
			  				</div>
			  			</div>
			  				
			  				
			  	
			  <% end %>
	  	</div>
	  <% end %>

	  <div class="row">
	  <h3 class="col-md-12">Events</h3>
	  <% @next_three_events.each do |event| %>
	  					  			<div class="col-md-4">
	  					  			<div class="panel panel-default">
	  					  				<div class="panel-heading">
	  					  					<p class="panel-title text-center all-caps">
	  			                  <%= event.location.city %>
	  			                </p>
	  					  				</div>
	  					  				<div class="panel-body">
	  					  					<h3>
	  			                <span class="fa-stack">
	  			                  <i class="fa fa-circle-thin fa-stack-2x"></i>
	  			                  <i class="fa fa-<%= event.icon %> fa-stack-1x"></i>
	  			                </span> 
	  			                <%= event.name %>
	  			              </h3>
	  		              	<p>
	  		                  <i class="fa fa-map-marker fa-fw"></i>
	  			                 
	  			                <%= link_to event.location.name, event.location, target: '_blank' %>

	  			                <br>
	  			                  <i class="fa fa-calendar fa-fw"></i>
	  			                <%= event.date.strftime('%A, %e/%m/%y') %>
	  			                <br>
	  			                  <i class="fa fa-clock-o fa-fw"></i>
	  			                <%= event.start_time.strftime('%l:%M%P') %> - <%= event.end_time.strftime('%l:%M%P') %>
	  			              </p>


	  		                <%= link_to event, class: 'btn btn-block btn-default' do %> 
	  		                  <span class="fa-stack">
	  		                    <i class="fa fa-circle-thin fa-stack-2x"></i>
	  		                    <i class="fa fa-info fa-stack-1x"></i>
	  		                  </span>
	  		                  More info
	  		                <% end %>
	  		              
	  		              
	  		                <%= link_to event.link, class: 'btn btn-block btn-success' do %>
	  		                  <span class="fa-stack">
	  		                    <i class="fa fa-circle-thin fa-stack-2x"></i>
	  		                    <i class="fa fa-edit fa-stack-1x"></i>
	  		                  </span>
	  		                  ENROL
	  		                <% end %>
	  					  			</div>
	  					  				</div>
	  					  			</div>
	  <% end %>
	  </div>

	  
	<% end %>
	</div>
  

	  
       