<div class="fullwidthbanner-container hero" id="hero-image">
<!-- <img src="http://res.cloudinary.com/coder-factory/image/upload/v1402932558/landing_jagsi4.jpg">
 -->
 <div class="container">
 <div class="row">
 <div class="col-md-7">
   <a href="https://www.youtube.com/watch?v=Dthd3_-IS20" class="youtube white">
     <h2 class="">Learn. Build. Connect. </h2>
  </a>
  </div>
  </div>
  <div class="row">
  <div class="col-md-8 value-message">
  <a href="https://www.youtube.com/watch?v=Dthd3_-IS20" class="youtube white">
     <h3 class="">Become a confident developer in a matter of weeks and join a thriving community of coders.</h3>
   </a>
   <br>
   <a href="https://www.youtube.com/watch?v=Dthd3_-IS20" class="btn btn-warning btn-xl youtube "><i class="fa fa-play-circle"></i> Watch the video</a></div>
   </div></div>
 </div>
</div>

<div class="container-fluid hidden-xs home-panel">
<h2 class="text-center name testimonial">What our students say</h2>
     <div class="row-fluid" id="main-boxes">
        <% @featured_testimonials.each do |testimonial| %>
    	<div class="col-md-4 testimonial-box">
        	
            <%= cl_image_tag(testimonial.image, :width => 200, :height => 200, :crop => :fill, class: 'img-responsive img-circle center-block') %>
            <p class="text-muted text-center"><%= testimonial.name %></p>
            <p class="lead text-center">"<%= testimonial.quote %>" </p>
            <p class="text-center"><%= testimonial.text.html_safe %></p>
                
            
        </div>
        <% end %>
        
    </div>
</div> <!-- end container-->
<div class="container-fluid hidden-xs home-panel blue">
<h2 class="text-center">Why Coder Factory?</h2>
     <div class="row-fluid text-center" id="main-boxes">
     <div class="col-md-4 testimonial-box">
        <i class="fa fa-smile-o fa-5x fa-fw"></i><br><br>
              <h3>Have fun while you learn</h3>
              
              <p>Why should learning new things be serious and boring? Make new friends, build projects that you can relate to and have a real world purpose. That's what makes learning coding fun.</p>
        </div>
        <div class="col-md-4">
        <i class="fa fa-group fa-5x fa-fw"></i><br><br> 
              <h3>Teachers that care about you</h3>
              <p>There are no instructors at Coder Factory, we have teachers. Teachers who take the time to find out who you are, what your goals are and supports you on your journey. No one gets left behind in a Coder Factory class.</p>
        </div>
        <div class="col-md-4">
        <i class="fa fa-rocket fa-5x fa-fw"></i><br><br> 
              <h3>Learn the latest and greatest</h3>
              <p>So many online courses and schools offer outdated versions of languages. We only teach you the latest and greatest technologies. So you can innovate and disrupt.</p>
        </div>
    </div>
</div> <!-- end container-->
<div class="container">
    

        <%= render 'upcoming_programmes' %>
  
</div>
   </div><!-- end container-->
     
    <script type="text/javascript">
  $(function () {
    $(".youtube").YouTubeModal({autoplay:0, width:800});
  });
</script>