<div class="container hidden-xs">

     <div class="row" id="main-boxes">
        <% @featured_testimonials.each do |testimonial| %>
    	<div class="col-md-4">
        	<div class="box-style-2 ">
            	<a href="<%= popular_programme_path(testimonial.popular_programme) %>" title="<%= testimonial.popular_programme.name %>">
                	<%= cl_image_tag(testimonial.image, :width => 150, :height => 150, :crop => :fill, class: 'img-responsive img-circle') %>
                    <h3><%= testimonial.quote %> <small>--<%= testimonial.name %></small></h3>
                    <p><%= testimonial.text.html_safe %></p>
                </a>
            </div>
        </div>
        <% end %>
        
    </div>
</div> <!-- end container-->
<div class="container">
<div class="row">
    

    <section class="col-md-8">
        <%= render 'upcoming_programmes' %>
    </section>
    <%= render 'home_sidebar' %>
  </div>
   </div><!-- end container-->