<div class="container">

     <div class="row" id="main-boxes">
    	<div class="col-md-4">
        	<div class="box-style-2 green">
            	<a href="all-courses.html" title="All Courses">
                	<img src="<%= asset_path 'icon-home-course.png' %>" alt="">
                    <h3>Beginner Workshop</h3>
                    <p>Been keen to learn coding? Struggling to teach yourself online? This workshop is for you.</p>
                </a>
            </div>
        </div>
        
        
        <div class="col-md-4">
        	<div class="box-style-2 red">
            	<a href="contact.html" title="Plan a visit">
                	<img src="<%= asset_path 'icon-home-visit.png' %>" alt="">
                    <h3>Join our community</h3>
                    <p>Be a part of the fast growing Coder Factory community of tech startup entrepreneurs and coders.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-style-2 orange">
                <a href="contact.html" title="Apply">
                    <img src="<%= asset_path 'icon-home-apply.png' %>" alt="">
                    <h3>Personalised programmes</h3>
                    <p>Learn only what you need to achieve your individual goals. Try the Personalised Programme Wizard.</p>
                </a>
            </div>
        </div>
    </div>
</div> <!-- end container-->

<div class="container">
<div class="row">
    <div class="col-md-4 ">
    
            <div class="box-style-1 ribbon borders">
            
            
            <div class="feat">
              <i class="fa fa-smile-o fa-3x"></i>
              <h3>Have fun while you learn</h3>
              <p>Why should learning new things be serious and boring? Make new friends, build projects that you can relate to and have a real world purpose. That's what makes learning coding fun.</p>
            </div>
            
            <hr class="double">
            
            <div class="feat">
              <i class="fa fa-group fa-3x"></i>
              <h3>Teachers that care about you</h3>
              <p>There are no instructors at Coder Factory, we have teachers. Teachers who take the time to find out who you are, what your goals are and supports you on your journey. No one gets left behind in a Coder Factory class.</p>
            </div>
            
            <hr class="double">
            <div class="feat">
              <i class="fa fa-rocket fa-3x"></i>
              <h3>Learn the latest and greatest</h3>
              <p>So many online courses and schools offer outdated versions of languages. We only teach you the latest and greatest technologies. So you can innovate and disrupt.</p>
            </div>
            
            <hr class="double">
            
            <div class="feat last">
              <i class="fa fa-laptop fa-3x"></i>
              <h3>Be a part of the coder community</h3>
              <p>There is a quickly growing community of new coders who, like you, have dreams of building apps to help them in their careers -- or help them improve the world.</p>
            </div>
            
            </div>
            <%= render 'layouts/banner' %>
    </div>

<section class="col-md-8">
    <div class="col-right">
        <h2>Upcoming classes</h2>
        <p>Check out our upcoming workshops. You can come along to just a single session or add as many as you like to your current programme. </p>
        <hr>

        <% @unit_sessions.each do |unit_session| %>
        <div class="strip-lessons">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-style-one borders"><img src="<%= asset_path 'lessons.png' %>" alt=""><h5><%= unit_session.unit.skill_group.name %></h5></div>
                </div>
                <div class="col-md-9">

                        <h4><a href="<%= unit_path(unit_session.unit) %>"><%= unit_session.unit.name %></a> <small><%= unit_session.location.city %></small></h4>
                        <h4><span class="label label-default"><%= unit_session.unit.workshop_credits %> credit points</span></h4>
                        <p><%= unit_session.unit.tagline %></p>
                    
                        <p>
                            <a href="#" class="btn btn-success"><i class="fa fa-arrow-circle-o-right"></i> Enrol</a> 
                            <a href="#" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add to programme</a>
                        </p>
                   

                        <ul class="data-lessons">
                            <li><i class="fa fa-calendar"></i> <%= unit_session.start_time.strftime('%l:%M%P') %> <%= unit_session.day %>, <%= unit_session.date.strftime('%d %B %Y') %></li>
                            <li><i class="fa fa-clock-o"></i> Duration: <%= (unit_session.end_time - unit_session.start_time)/3600 %> hours</li>
                            
                            <li><i class="fa fa-map-marker"></i> <a href="<%= unit_session.location.map_link %>" target="_blank"><%= unit_session.location.name %></a></li>
                        </ul>
                </div>
            </div>
        </div><!-- End Strip course -->
        <% end %>
        
        
        <p class="text-center"><a href="contact.html" class="button_large">View all courses </a></p>
        
    </div>
    </section>
  </div>
   </div><!-- end container-->