<div class="event">
<h2>
  <span class="fa-stack hidden-xs">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-<%= event.icon %> fa-stack-1x"></i>
  </span>
  <%= event.name %> 
  
</h2>
<div class="row">
  <div class="col-sm-6">
    
      <i class="fa fa-map-marker fa-fw"></i>
    <span class="all-caps">
      <%= event.location.city %>
    </span>: 
    <%= link_to event.location.name, event.location, target: '_blank' %>

    <br>
      <i class="fa fa-calendar fa-fw"></i>
    <%= event.date.strftime('%A, %e/%m/%y') %>
    <br>
      <i class="fa fa-clock-o fa-fw"></i>
    <%= event.start_time.strftime('%l:%M%P') %> - <%= event.end_time.strftime('%l:%M%P') %>
  </div>

  <div class="col-sm-3">
    <%= link_to event, class: 'btn btn-block btn-info' do %> 
      <span class="fa-stack">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-info fa-stack-1x"></i>
      </span>
      More info
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= link_to event.link, class: 'btn btn-block btn-warning' do %>
      <span class="fa-stack">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x"></i>
      </span>
      REGISTER
    <% end %>
  </div>
</div>
</div>