<%= content_for :title, 'Coder Factory Events - ' + @event.name + ', ' + @event.location.city %>
<%= content_for :description, 'Coder Factory workshop events ' + @event.name + 'in ' + @event.location.city + ', ' + @event.location.state %>

<h1 class="col-md-12"><span class="fa-stack">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-<%= @event.icon %> fa-stack-1x"></i>
  </span> <%= @event.name %>, <%= @event.location.city %></h1>
  <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
          <li class="active"><%= @event.name %></li>
        </ul>
    </div>

<div class="row">
  

 
<section class="col-md-8">
  <div class="col-left">

<h2>
  <span class="fa-stack">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-<%= @event.icon %> fa-stack-1x"></i>
  </span>
  <%= @event.name %>, <%= @location.city %>
</h2>
<div class="row">
<div class="col-sm-12">
<p class="lead"><%= @event.tagline %></p>
<p><%= @event.description %></p>
<hr>
</div>
<div class="col-sm-5">
<h3>Where</h3>
<p>
  <%= link_to @location.name, @location %><br>
  <%= @location.street %><br>
  <%= @location.suburb %> <%= @location.state %> <%= @location.postcode %>
</p>
<hr>
<h3>When</h3>
<p>
  <%= @event.date.strftime('%A, %e %B %Y') %><br>
  <%= @event.start_time.strftime('%l:%M%P') %> - <%= @event.end_time.strftime('%l:%M%P') %>
</p>

</div>
<div class="col-sm-7">
  <%= @location.embed_map.html_safe if @location.embed_map %>
</div>
</div>

</div>

<% if @weekend_programmes %>
<div class="scheduled">
      <h3>Scheduled programmes</h3>
      <%= render @weekend_programmes %>
    </div>
    <% end %>  
</section>
<div class="col-sm-4 hidden-xs">
    <div class="col-right">
    <h2>Register to attend</h2>
    <%= render 'event_registrations/form' %>
    </div>
  </div>

</div>