<h1 class="col-md-12">All Modules</h1>
	<div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
          <li class="active">All  Modules</li>
        </ul>
    </div>

<%= render 'layouts/module_sidebar' %>
 
<section class="col-md-8  ">
	<div class="col-right">
    	


        <% @units.each do |unit| %>
           <div class="strip-courses">
       		 <div class="title-course">
   			   <h3><%= unit.name %></h3>
               <ul >
               		<li><i class="fa fa-calendar"></i> Start date: 24/06/13</li>
                    <li><i class="fa fa-bookmark"></i> ID: <%= unit.unit_code %></li>
               </ul>
             </div>
                <div class="description">
                	<p class="lead"><%= unit.tagline %></p>
                    <ul>
                    	<li><i class="fa fa-book"></i> 10 Lessons</li>
                        <li><i class="fa fa-reorder"></i> Level Intermediate</li>
                    </ul>
                <a href="course-detail.html" class="button_medium button-align-2">Read more </a>
                </div>
            </div><!-- end strip-->
          <% end %>
            
             <hr>
           
           <div class=" pagination-centered">
               <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
              </ul>
          </div><!-- end pagination-->
           
    </div><!-- end col right-->
	
</section>