<%= simple_form_for(@event_registration) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :event_id, as: :hidden, input_html: { class: 'form-control', value: @event.id } %>
  </div>
  <div class="form-group">
    <%= f.input :first_name, input_html: { class: 'form-control'}, label: false, placeholder: 'First name', autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.input :last_name, input_html: { class: 'form-control'}, label: false, placeholder: 'Last name' %>
  </div>
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control'}, label: false, placeholder: 'Your email' %>
  </div>
  <div class="form-group">
    <%= f.input :phone, input_html: { class: 'form-control'}, label: false, placeholder: 'Your phone' %>
  </div>
  <%= f.submit 'REGISTER TO ATTEND', class: 'btn btn-warning btn-block btn-lg' %>
  
<% end %>