<h1>Listing specials</h1>

<table class="table">
  <thead>
    <tr>
      <th>Admin</th>
      <th>Recipient email</th>
      <th>Popular programme</th>
      <th>Weekend programme</th>
      <th>Dollar discount</th>
      <th>Percent discount</th>
      <th>Date redeemed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specials.each do |special| %>
      <tr>
        <td><%= User.find(special.admin_id).profile.name %></td>
        <td><%= special.recipient_email %></td>
        <td><%= special.popular_programme.name %></td>
        <td><%= special.weekend_programme.name %></td>
        <td><%= special.dollar_discount %></td>
        <td><%= special.percent_discount %></td>
        <td><%= special.date_redeemed %></td>
        <td><%= link_to 'Show', special %></td>
        <td><%= link_to 'Edit', edit_special_path(special) %></td>
        <td><%= link_to 'Destroy', special, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Special', new_special_path %>
