<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= User.find(@special.admin_id).profile.name %>
</p>

<p>
  <strong>Recipient email:</strong>
  <%= @special.recipient_email %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @special.popular_programme.name %>
</p>

<p>
  <strong>Intake:</strong>
  <%= @special.weekend_programme.location.city + ': ' + @special.weekend_programme.date.strftime('%d-%b-%y') %>
</p>

<p>
  <strong>Dollar discount:</strong>
  <%= @special.dollar_discount %>
</p>

<p>
  <strong>Percent discount:</strong>
  <%= @special.percent_discount %>
</p>

<p>
  <strong>URL to redeem:</strong>
  <a href="https://thecoderfactory.com/enrolments/new/?intake=<%= @special.weekend_programme.id %>&special=<%= @special.guid %>">https://thecoderfactory.com/enrolments/new/?intake=<%= @special.weekend_programme.id %>&special=<%= @special.guid %></a>
</p>

<p>
  <strong>Date redeemed:</strong>
  <%= @special.date_redeemed %>
</p>

<%= link_to 'Edit', edit_special_path(@special) %> |
<%= link_to 'Back', specials_path %>
