<h1>Listing goal_units</h1>

<table class="table">
  <thead>
    <tr>
      <th>Unit</th>
      <th>Goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_units.each do |goal_unit| %>
      <tr>
        <td><%= goal_unit.unit %></td>
        <td><%= goal_unit.goal %></td>
        <td><%= link_to 'Show', goal_unit %></td>
        <td><%= link_to 'Edit', edit_goal_unit_path(goal_unit) %></td>
        <td><%= link_to 'Destroy', goal_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal unit', new_goal_unit_path %>
