<h1>Future Programmes <small><%= link_to 'New Weekend programme', new_weekend_programme_path, class: 'btn btn-success btn-xs' %></small></h1>

<table class="table">
  <thead>
    <tr>
      <th>Programme</th>
      <th>Location</th>
      <th>Day</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Time</th>
      <th>Number of places</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekend_programmes.each do |weekend_programme| %>
      <tr class="<%= 'warning text-danger' if weekend_programme.date < Date.today + 7 %>">
        <td><%= link_to weekend_programme.popular_programme.name, weekend_programme %></td>
        <td><%= weekend_programme.location.city %></td>
        <td><%= weekend_programme.day %></td>
        <td><%= weekend_programme.date.strftime('%d %b %y') %></td>
        <td><%= weekend_programme.end_date.strftime('%d %b %y') %></td>
        <td><%= weekend_programme.start_time.strftime('%H:%M') %> - <%= weekend_programme.end_time.strftime('%H:%M') %></td>
        <td class="text-center"><%= weekend_programme.number_of_places %></td>
        <td><%= link_to 'Edit', edit_weekend_programme_path(weekend_programme) %></td>
        <td><%= link_to 'Destroy', weekend_programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr class="double">


<h1>Archived Programmes <small><%= link_to 'New Weekend programme', new_weekend_programme_path, class: 'btn btn-success btn-xs' %></small></h1>

<table class="table">
  <thead>
    <tr>
      <th>Programme</th>
      <th>Location</th>
      <th>Day</th>
      <th>Start Date</th>
      <th>End date</th>
      <th>Time</th>
      <th>Number of places</th>
      <th>Students registered</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @past_programmes.each do |past_programme| %>
      <tr>
        <td><%= link_to past_programme.popular_programme.name, past_programme %></td>
        <td><%= past_programme.location.city %></td>
        <td><%= past_programme.day %></td>
        <td><%= past_programme.date.strftime('%d %b %y') %></td>
        <td><%= past_programme.end_date.strftime('%d %b %y') %></td>
        <td><%= past_programme.start_time.strftime('%H:%M') %> - <%= past_programme.end_time.strftime('%H:%M') %></td>
        <td class="text-center"><%= past_programme.number_of_places %></td>
        <td><%= past_programme.number_of_students_registered %></td>
        <td><%= link_to 'Edit', edit_weekend_programme_path(past_programme) %></td>
        <td><%= link_to 'Destroy', past_programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>