<div class="strip-courses">
          <div class="title-course">
            <h2>
              <span class="fa-stack hidden-xs">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-<%= weekend_programme.popular_programme.icon %> fa-stack-1x fa-inverse"></i>
              </span>
              <%= link_to weekend_programme.popular_programme.name, weekend_programme.popular_programme %> <span class="all-caps"><small class="hidden-xs"><%= weekend_programme.location.city %></small></span> 
            </h2>
          </div>
          <div class="description">
            <div class="row">
              <div class="col-sm-4">
                <h3> Where</h3>
                <ul class="fa-ul">
                <li><i class="fa-li fa fa-arrow-circle-right"></i><strong><%= link_to weekend_programme.location.name, weekend_programme.location %></strong></li>
                
                <li><i class="fa-li fa fa-arrow-circle-right"></i><%= weekend_programme.location.street %></li>
                <li><i class="fa-li fa fa-arrow-circle-right"></i><%= weekend_programme.location.suburb %> <%= weekend_programme.location.state %>  <%= weekend_programme.location.postcode %></li>
                </ul>

              </div>
              <div class="col-sm-4">
                <h3>When</h3>
                <ul class="fa-ul">
                <li><i class="fa-li fa fa-arrow-circle-right"></i><strong><%= weekend_programme.day %></strong></li>
                <li><i class="fa-li fa fa-arrow-circle-right"></i><%= weekend_programme.date.strftime('%e %b') %> - <%= weekend_programme.end_date.strftime('%e %b %Y') %></li>
                <li><i class="fa-li fa fa-arrow-circle-right"></i><%= weekend_programme.start_time.strftime('%l:%M%P') %> - <%= weekend_programme.end_time.strftime('%l:%M%P') %></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Enrol </h3>
                <span class="label label-default"><%= pluralize(weekend_programme.number_of_places, "place") %> left</span>
                <a href="<%= new_enrolment_path(intake: weekend_programme.id) %>" class="btn btn-warning btn-block btn-lg extra-top-margin"><i class="fa fa-book"></i> Book this programme</a>
              </div>
            </div>
          </div>
        </div>