<h1>Listing user_units</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Unit</th>
      <th>Commenced</th>
      <th>Completed</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_units.each do |user_unit| %>
      <tr>
        <td><%= user_unit.user %></td>
        <td><%= user_unit.unit %></td>
        <td><%= user_unit.commenced %></td>
        <td><%= user_unit.completed %></td>
        <td><%= user_unit.grade %></td>
        <td><%= link_to 'Show', user_unit %></td>
        <td><%= link_to 'Edit', edit_user_unit_path(user_unit) %></td>
        <td><%= link_to 'Destroy', user_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User unit', new_user_unit_path %>
