<%= content_for :page_title, 'Promotion: June 2014' %>
<%= content_for :icon, 'exclamation' %>
<%= content_for :title, "Take advantage of CoderFactory's June promotion and #LearnToCode" %>
<%= content_for :description, 'CoderFactory offers and promotions, register for the latest deals if you want to #LearnToCode' %>


<section class="col-lg-8 col-sidebar">
  <div class="post-img">
    <img itemprop="image" src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_800/v1403061550/Flyer_njecip.png" alt="Promotion banner" class="img-responsive">
  </div>
  <div class="text-center">
  <h3>June 2014</h3>
	  <h2><span class="lowercase name">coderfactory</span> promotion</h2>
	  
	  <h3 class="text-danger">Save $395</h3>
	</div>
	<div>
	 	<p class="lead">When you complete the Foundation Programme, and you decide to continue learning web application development at Coder Factory, you will receive the price of the Foundation Programme ($395) off your next programme.</p>
	</div>
	<div class="programme">
		<h3>HOW IT WORKS</h3>
		<p>
			<ul class="fa-ul">
				<li>
					<i class="fa-li fa fa-arrow-circle-right"></i>
					Enrol in a Foundation Programme scheduled in June 2014
				</li>
				<li>
					<i class="fa-li fa fa-arrow-circle-right"></i>
					Complete the programme
				</li>
				<li>
					<i class="fa-li fa fa-arrow-circle-right"></i>
					Decide to enrol in the Web App Developer or Web App Developer Pro programmes
				</li>
				<li>
					<i class="fa-li fa fa-arrow-circle-right"></i>
					Receive a special promotion code for $395 off the programme fees
				</li>
			</ul>
		</p>
	</div>
	<div class="row"><div class="col-md-4 col-md-offset-4">
	<a href="https://thecoderfactory.com/popular_programmes/rails-foundations-for-beginners#scheduled" class='btn btn-block btn-success'>
    <span class="fa-stack">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-edit fa-stack-1x"></i>
    </span>
    ENROL
  </a>
</div></div>
</section>

<aside class="col-md-4">
  <%= render 'layouts/programme_sidebar' %>
</aside>