<h1>Blog posts  <small><span class="label label-default"><%= @posts.count %></span> <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-xs' %></small></h1>

<br>
<%= link_to "Export posts", export_posts_path, class: 'btn btn-primary' %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th>Pub date</th>
      <th>User</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= cl_image_tag(post.image, :width => 150, :height => 100, :crop => :fill) %> <%= link_to post do %><%= post.title %> <span class="label label-primary"><%= pluralize(post.impressionist_count, 'view') %> </span> <% end %></td>
        <td><% if post.publish %><span class="label label-success">Published</span><% end %></td>
        <td><%= post.published_date.strftime('%l %b %y') %></td>
        <td><%= post.user.profile.name if post.user.profile %></td>
        <td><%= post.category.name if post.category %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-xs' %>
