<%= content_for :page_title, @post.title %>
<%= content_for :title, @post.title + ' (Coder Factory blog post)' %>
<%= content_for :description, @post.lead.html_safe %>
<%= content_for :image, @post.image %>
<%= content_for :author, @profile.name if @profile %>
<%= content_for :icon, 'file-text-o' %>
<%= content_for :breadcrumb, 'Blog' %>
<%= content_for :breadcrumb_link, blog_path %>

<section class="col-md-8">
  <div class="col-sidebar">
    <div itemscope itemtype="http://schema.org/Article" class="post">
      <div class="post-img">
        <img itemprop="image" src="<%= asset_path @post.image %>" alt="<%= @post.title %>" class="img-responsive">
        <h2><a href="<%= post_url %>"><span itemprop="name"><%= @post.title %></span></a></h2>
      </div>
      <div class="post_info clearfix">
        <% if @profile %>
          <span class="author vcard">
            <a rel="author" href="<%= @profile.google_plus %>?rel=author">
              <%= cl_image_tag @profile.profile_picture, class: 'img-circle blog-profile', alt: @profile.name %> 
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <%= @profile.name %>
              </span>
            </a> 
        <% end %>
        &nbsp; 
        <i class="fa fa-calendar-o"></i> 
        <abbr class="published" itemprop="datePublished" content="<%= @post.published_date.strftime('%Y-%m-%d') %>" title="Published on <%= @post.published_date.strftime('%A, %e %B %Y, %l:%M%P') %>"><%= @post.published_date.strftime('%A, %e %B %Y') %></abbr>
      </div>
     
      <p class="lead" itemprop="articleSection">
        <%= @post.lead.html_safe %>
      </p>
      <div itemprop="articleBody" class="text-justify">
        <p>
          <%= @post.content.html_safe %>
        </p>
      </div>
      <hr>
      <p class="lead">If this article would be of interest to your friends or family, we've made it easy to share it.</p>
      <%= render 'layouts/share_buttons' %>
      <hr>
    
      <i class="fa fa-th-list"></i> Posted in <%= link_to @post.category.name, blog_path(category: @post.category), class: 'btn btn-xs btn-default' %></li>
       
    </div>
  </div>
  <div class="col-sidebar">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'coderfactory'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
  </div>
</section><!-- end section-->
<aside class="col-md-4">
<%= render 'layouts/blog_sidebar' %>
<%= render 'layouts/banner' %>
</aside>
<%= javascript_include_tag "post" => true %>