<h1 class="col-md-12"><%= @post.title %></h1>
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a><span class="divider"></span></li>
      <li><a href="<%= blog_path %>">Blog</a><span class="divider"></span></li>
      <li class="active"><%= @post.title %></li>
    </ul>
  </div>
    
<!-- =========================Start Col left section ============================= -->
<%= render 'layouts/blog_sidebar' %>
    
  <!-- =========================Start Col right section ============================= -->
<section class="col-md-8">
<div class="col-right">

  <div class="post">
    <h2><a href="<%= post_url %>"><%= @post.title %></a></h2>


    <img src="<%= asset_path @post.image %>" alt="<%= @post.title %>" class="img-responsive">


    
    <div class="post_info clearfix">
      <i class="fa fa-calendar-o"></i> On <%= @post.created_at.strftime('%A, %e %B %Y') %>
      &nbsp; <i class="fa fa-user"></i> By <a href="#"><%= @post.user.profile.name if @post.user.profile %></a> 
      &nbsp;
      <i class="fa fa-tags"></i> Tags <% @post.tag_list.each do |tag| %><%= link_to tag, blog_path(tag: tag), class: 'btn btn-xs btn-default' %> <% end %>
      </div>
     
    <p class="lead">
       <%= @post.lead %>
    </p>
    <p><%= @post.content.html_safe %></p>
    <div class="post-left">
        <i class="fa fa-book"></i> Posted in <%= link_to @post.category.name, blog_path(category: @post.category), class: 'btn btn-xs btn-default' %></li>
         
      </div>
    </div>
  </div><!-- end post -->
  <hr>

    
</div><!-- end col-right-->
</section><!-- end section-->
