<%= simple_form_for(@unit) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :skill_level, as: :radio_buttons, collection: [1,2,3,5], input_html: { class: 'radio-inline'} %>
  </div>
  <div class="form-group">
    <%= f.input :tagline, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control', rows: 10} %>
  </div>
  <div class="form-group">
    <%= f.input :duration_minutes, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :icon, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.association :skill_group, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :unit_code, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :workshop_credits, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :online_credits, input_html: { class: 'form-control'} %>
  </div>
  <div class="checkbox">
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
