<%= simple_form_for(@unit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :tagline %>
    <%= f.input :description %>
    <%= f.input :duration_minutes %>
    <%= f.input :icon %>
    <%= f.association :skill_group %>
    <%= f.input :unit_code %>
    <%= f.input :workshop_credits %>
    <%= f.input :online_credits %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
