<h1>Listing units</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration minutes</th>
      <th>Skill group</th>
      <th>Workshop credits</th>
      <th>Active</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, unit %></td>
        <td><%= unit.duration_minutes %></td>
        <td><%= unit.skill_group.name %></td>
        <td><%= unit.workshop_credits %></td>
        <td><%= unit.active %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
