<h1 class="col-md-12"><%= @unit.name %></h1>

<div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
      
      <li class="active"><%= @unit.name %></li>
    </ul>
</div>


 <!-- =========================Start Col right section ============================= -->
<section class="col-md-8  ">
  <div class="col-right">
      
        
        <div class="strip-lessons">
        <h2 class="module-heading"><a href="<%= unit_path(@unit) %>"><%= @unit.name %></a> <small><%= @unit.unit_code %></small></h2>
        <hr>
        <div class="row">
          <div class="col-md-3">
              <div class="box-style-one borders"><img src="<%= asset_path 'lessons.png' %>" alt=""><h5><%= @unit.skill_group.name %></h5></div>
            </div>
          <div class="col-md-9">
             
              <p class="lead"><%= @unit.tagline %></p>
                        
          </div>

        </div><!-- End Strip course -->
        <hr>
        <p>
              </p>
        
        <div class="widget borders widget-table">
          
          <div class="widget-header">
            <h3>Workshop detail </h3>
          </div> <!-- .widget-header -->
          <div class="widget-content">
            <p><%= @unit.description.html_safe %></p>
            <h4>Duration: <%= @unit.duration_minutes.to_f / 60 %> hours</h4>
            
          </div> <!-- .widget-content -->

       
           
    </div><!-- end col right--> 
</section>