<h1 class="col-md-12"><%= @unit.name %></h1>

<div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
      <li><a href="<%= all_courses_path %>">All Modules</a> <span class="divider"></span></li>
      <li class="active"><%= @unit.name %></li>
    </ul>
</div>

<%= render 'layouts/module_sidebar' %>

 <!-- =========================Start Col right section ============================= -->
<section class="col-md-8  ">
  <div class="col-right">
      
        
        <div class="strip-lessons">
        <h2 class="module-heading"><a href="<%= unit_path(@unit) %>"><%= @unit.name %></a> <small><%= @unit.unit_code %></small></h2>
        <hr>
        <div class="row">
          <div class="col-md-3">
              <div class="box-style-one borders"><img src="<%= asset_path 'lessons.png' %>" alt=""><h5><%= @unit.skill_group.name %></h5></div>
            </div>
          <div class="col-md-9">
              <h4><span class="label label-default"><%= @unit.workshop_credits %> credit points</span> </h4>
              <p class="lead"><%= @unit.tagline %></p>
                        
          </div>

        </div><!-- End Strip course -->
        <hr>
        <p>
                  <a href="#" class="button_red_medium"><i class="fa fa-arrow-circle-o-right"></i> Enrol</a> 
                  <a href="#" class="button_medium"><i class="fa fa-plus-circle"></i> Add to programme</a>
              </p>
        
        <div class="widget borders widget-table">
          
          <div class="widget-header">
            <h3>Module detail </h3>
          </div> <!-- .widget-header -->
          <div class="widget-content">
            <p><%= @unit.description.html_safe %></p>
            <h4>Duration: <%= @unit.duration_minutes.to_f / 60 %> hours</h4>
            
          </div> <!-- .widget-content -->

          <div class="widget-header">
            <h3>Upcoming sessions </h3>
          </div> <!-- .widget-header -->
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              
              <thead>
                            <tr>                
                <th>Date</th>
                <th>Day</th>
                                <th>Time</th>
                                <th>Location</th>                 
              </tr></thead>
          
            <tbody>
              <% @unit.unit_sessions.each do |unit_session| %>
                <tr>
                  <td><%= unit_session.date.strftime('%d %B %Y') %></td>
                  <td><%= unit_session.day %></td>
                  <td><%= unit_session.start_time.strftime('%l:%M%P') %></td>
                  <td><%= unit_session.location.name %>, <strong><%= unit_session.location.city %></strong></td>
                </tr>
              <% end %>
                      
          </tbody></table>
            
          </div> <!-- .widget-content -->
          
    </div> <!-- /widget --> 
        
    
        <p><a href="#" class="button_red_medium"><i class="fa fa-arrow-circle-o-right"></i> Enrol</a> 
                            <a href="#" class="button_medium"><i class="fa fa-plus-circle"></i> Add to programme</a></p>
       
           
    </div><!-- end col right--> 
</section>