<%= content_for :title, @unit.name + ' - Coder Factory Workshop' %>
<%= content_for :description, @unit.tagline.html_safe %>

<h1 class="col-md-12"><%= @unit.name %></h1>

<div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
      
      <li class="active"><%= @unit.name %></li>
    </ul>
</div>


 <!-- =========================Start Col right section ============================= -->
<section class="col-md-8  ">
        <div class="panel panel-<%= panel_color(@unit.skill_group) %>">
          <div class="panel-heading">
              <h2 class="panel-title"><%= @unit.name %>
          </div>
          <div class="panel-body">
            <p class="lead"><%= @unit.tagline %></p>
            <p><%= @unit.description.html_safe %></p>
            <div class="row unit-details">
            <div class="col-md-3 text-center">
              <h4>Skill group</h4>
              <span class="label label-<%= panel_color(@unit.skill_group) %>"><%= @unit.skill_group.name %></span>
            </div>
            <div class="col-md-3 text-center">
            <h4>Skill level</h4>
                <span class="label label-<%= skill_label(@unit.skill_level.number) %>">
                <%= @unit.skill_level.name %></span>
            </div>
            <div class="col-md-3 text-center">
            <h4>Duration</h4>
              <span class="label label-default"><%= pluralize(@unit.duration_minutes / 60.0, 'hour') %></span>
            </div>
            <div class="col-md-3 text-center">
            <h4>Price</h4>
              <span class="label label-warning"><%= @unit.workshop_credits * PRICE_PER_POINT %></span>
            </div>
            </div>
            <h3>Benefits of this workshop</h3>
            <p><%= @unit.benefits.html_safe if @unit.benefits %></p>
            <hr>
            <h3>Learning objectives</h3>
            <p><%= @unit.objectives.html_safe if @unit.objectives %></p>
            <hr>
            <h3>Workshop outcome</h3>
            <p><%= @unit.outcome.html_safe if @unit.outcome %></p>
          </div>
        </div>
        
        
</section>
<div class="col-md-4">
  
  <%= render 'unit_sidebar' %>

  
</div>
