<%= simple_form_for(@referral_enrolment) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.association :referrer, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.association :enrolment, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :student_paid, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :amount_owed, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :date_paid, input_html: { class: 'form-control'} %>
  </div>
  <%= f.button :submit %>
  
<% end %>
