<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="col-left">
				<h2>My personalised programme</h2>
				<p class="lead">Here are the list of modules that will help you achieve your goals. Add or remove modules as you wish, then enrol in the programme below.</p>

				<table class="table table-responsive">
					<tr>
						<th>Module</th>
						<th>Skills</th>
						<th>Skill level</th>
						<th>Credit points</th>
						<th></th>
					</tr>
					<% @programme.units.each do |unit| %>
					<tr>
						<td><%= unit.name %></td>
						<td><% unit.skills.each do |skill| %><%= skill.name %><br><% end %></td>
						<td><%= unit.unit_skills.first.after_skill_level %></td>
						<td><%= unit.workshop_credits %></td>
						<td><%= link_to "Remove", remove_unit_programme_path(@programme, unit: unit.id), method: :delete, class: "btn btn-default btn-xs"%></td>
					</tr>
					<% end %>
					<tr>

						<th colspan="3">Workshop credit points total</th>
						<th><%= programme_credits(@programme) %></th>
						<th></th>
					</tr>
				</table>
				<hr>
			</div>
		</div>
		<aside class="col-md-4">
			<div class="col-left light-green">
				<% if @programme.units.count > 0 %>
					<% if current_user %>
						<h3>Add this programme to your profile</h3>
						<%= link_to "Save programme", dashboard_path, class: 'btn btn-success' %>
					<% else %>
						<h2>Enrol here</h2>
						<p>Receive <strong>5 free credit points</strong>.</p>
						<%= simple_form_for @user do |f| %>
							<div class="form-group">
				  			<%= f.input :email, placeholder: 'Your email', autofocus: true, label: false, input_html: { class: 'form-control', required: true} %>
				  		</div>
							<div class="form-group">
				  			<%= f.input :name, placeholder: 'Your name', label: false, input_html: { class: 'form-control'} %>
				  		</div>
							<div class="form-group">
				  			<%= f.input :phone, placeholder: 'Your contact number', label: false, input_html: { class: 'form-control'} %>
				  		</div>
				  		<%= f.input :converted, as: :hidden, input_html: { value: true } %>
				  		<%= f.input :enrolled, as: :hidden, input_html: { value: true } %>
				  		<%= f.input :programme_id, as: :hidden, input_html: { value: @programme.id } %>
				  		<div class="form-group">
				  			<%= f.submit 'Enrol', class: 'btn btn-success btn-lg' %>
				  		</div>
				  	<% end %>
				  <% end %>
				<% end %>
			</div>
			<div class="col-left">
				<h3>Or save your programme for later.</h3>
				<p><a href="#" class="btn btn-primary">Save programme</a></p>
			</div>
		</aside>
	</div>
	<div class="row">
		<aside class="col-md-8">
			<div class="col-left">
				<div class="row">
					<div class="col-md-12">
						<h2>Other recommended modules</h2>
						<table class="table table-responsive">
							<tr>
								<th>Module</th>
								<th>Skills</th>
								<th>Credit points</th>
								<th></th>
							</tr>
							<% @recommended_units.each do |recommended_unit| %>
								<% if !@programme.units.include?(recommended_unit) %>
									<tr>
										<td><%= recommended_unit.name %></td>
										<td><% recommended_unit.skills.each do |skill| %><%= skill.name %><br><% end %></td>
										<td><%= recommended_unit.workshop_credits %></td>
										<td><%= link_to "Add to programme", add_unit_programme_path(@programme, unit: recommended_unit.id), class: 'btn btn-primary btn-sm' %></td>
									</tr>
								<% end %>
							<% end %>
						</table>
					</div>
				</div>
			</div>
		</aside>
		
	</div>
</div>