<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="box-style-1">
				<h2>Your programme</h2>
				<p class="lead">Here <%= 'is'.pluralize(@programme.units.count) %> the <span class="label label-default"><%= @programme.units.count %></span> <%= 'workshop'.pluralize(@programme.units.count) %> you have selected.</p>

				<div class="row">
					<div class="col-sm-5">
						<p><strong>Module</strong></p>
					</div>
					<div class="col-sm-1">
						<p class="text-center"><strong>Remove</strong></p>
					</div>
					<div class="col-sm-2">
						<p><strong>Skills</strong></p>
					</div>
					<div class="col-sm-2">
						<p class="text-center"><strong>Skill level</strong></p>
					</div>
					<div class="col-sm-2">
						<p class="text-center"><strong>Credit points</strong></p>
					</div>
				</div>

				<% @programme.units.each do |unit| %>
					<div class="row table-row">
						<div class="col-sm-4">
							<p><span class="mini-box <%= box_color(unit.skill_group) %>"><i class="fa fa-<%= unit.skill_group.icon %> fa-border"></i></span> <%= unit.name %></p>
						</div>
						<div class="col-sm-1">
							<p class="text-center"><%= link_to remove_unit_programme_path(@programme, unit: unit.id), method: :delete do %><i class="fa fa-trash-o fa-lg"></i> <% end %></p>
						</div>
						<div class="col-sm-2">
							<p class="text-center"><%= unit.workshop_credits %></p>
						</div>
						<div class="col-sm-3">
							<p><% unit.skills.each do |skill| %><%= skill.name %><br><% end %></p>
						</div>
						<div class="col-sm-2">
							<p class="text-center"><% if unit.unit_skills.count > 0 %><span class="label label-<%= skill_label(unit.unit_skills.first.after_skill_level) %> center-block"><%= skill_level_name(unit.unit_skills.first.after_skill_level) %></span><% end %></p>
						</div>
					</div>
				<% end %>

				<div class="row table-row">
					<div class="col-sm-9">
						<p class="text-danger">TOTAL CREDIT POINTS REQUIRED FOR PROGRAMME</p>
					</div>
					<div class="col-sm-2">
						<p class="text-center text-danger"><%= programme_credits(@programme) %></p>
					</div>
					<div class="col-sm-1">
						<p class="text-center text-danger">$<%= programme_credits(@programme) * PRICE_PER_POINT %></p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-5">
						<p><strong>Module</strong></p>
					</div>
					<div class="col-sm-2">
						<p><strong>Skills</strong></p>
					</div>
					<div class="col-sm-2">
						<p class="text-center"><strong>Skill level</strong></p>
					</div>
					<div class="col-sm-2">
						<p class="text-center"><strong>Credit points</strong></p>
					</div>
					<div class="col-sm-1">
						<p class="text-center"><strong>Remove</strong></p>
					</div>
				</div>

			</div>
		</div>
		
	</div>
	
</div>