<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="box-style-1 borders">
				<h2>My programme</h2>
				<p class="lead">Here are the workshops you have selected.</p>

				<table class="table table-responsive">
					<tr>
						<th>Module</th>
						<th>Skills</th>
						<th>Skill level</th>
						<th>Credit points</th>
						<th></th>
					</tr>
					<% @programme.units.each do |unit| %>
						<tr>
							<td><%= unit.name %></td>
							<td><% unit.skills.each do |skill| %><%= skill.name %><br><% end %></td>
							<td><span class="label label-<%= skill_label(unit.unit_skills.first.after_skill_level) %> center-block"><%= skill_level_name(unit.unit_skills.first.after_skill_level) %></span></td>
							<td class="text-center"><%= unit.workshop_credits %></td>
							<td></td>
						</tr>
					<% end %>
					<tr>

						<th colspan="3">Workshop credit points total</th>
						<th class="text-center"><%= programme_credits(@programme) %></th>
						<th></th>
					</tr>
				</table>
				<hr>
					<p>
						<%= link_to "Find more workshops", all_workshops_path, class: 'btn btn-primary' %> 
						<%= link_to "Enrol in programme", new_purchase_path, class: 'btn btn-success' %>
					</p>
					<br>

			</div>
		</div>
		
	</div>
	
</div>