<% if @tag %>
  <h1 class="col-md-12">Posts tagged with: <em><%= @tag %></em></h1>
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider"></span></li>
      <li><a href="<%= blog_path %>">Blog</a> <span class="divider"></span></li>
      <li class="active">Posts tagged with: <em><%= @tag %></em></li>
    </ul>
</div>
<% elsif @category %>
  <h1 class="col-md-12">Posts in category: <em><%= @category.name %></em></h1>
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider"></span></li>
      <li><a href="<%= blog_path %>">Blog</a> <span class="divider"></span></li>
      <li class="active">Posts in category: <em><%= @tag %></em></li>
    </ul>
</div>
<% else %>
  <h1 class="col-md-12">Blog</h1>
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider"></span></li>
      <li class="active">Blog</li>
    </ul>
</div>
<% end %>

<!-- =========================Start Col left section ============================= -->
<%= render 'layouts/blog_sidebar' %>
 
<section class="col-md-8">
  

      <% @posts.each do |post| %>
      <div class="row">
      <div class="col-sm-12">
        <div class="post-img">
          

            <% if post.image.blank? %>
              <a href="<%= post_path(post) %>"><img src="<%= asset_path 'about.jpg' %>" alt="" class="img-responsive"></a>
            <% else %>
              <a href="<%= post_path(post) %>"><img src="<%= asset_path post.image %>" alt="" class="img-responsive" ></a>
            <% end %>
            <p class="lead text-center"><%= post.title %></p>

        </div>

        </div> 
      </div>
      <br>
       <% end %>
       <div class="col-right">
       <%= will_paginate @posts %>
       
    
    </div><!-- end col-right-->
</section> <!-- end section-->