<%= content_for :title, 'Coder Factory Articles on learning to code, startups' %>
<%= content_for :description, 'Coder Factory articles cover learning to code, startups, programming languages, student success stories and interviews of influencers. Authors are Pete Argent, Dan Siepen, Florian Fischer ' %>
<%= content_for :page_title, 'Coder Factory Blog' %>
<%= content_for :icon, 'file-text-o' %>

<% if @tag %>
  <h1 class="col-md-12">Coder Factory posts tagged with: <em><%= @tag %></em></h1>
  
<% elsif @category %>
  <h1 class="col-md-12">Coder Factory posts in category: <em><%= @category.name %></em></h1>
  

<% end %>

<div class="row">
  <section class="col-md-8">
    <% @posts.each do |post| %>
          <div class="blog-img">
            <% if post.image.blank? %>
              <a href="<%= post_path(post) %>"><img src="<%= asset_path 'PLAY.png' %>" alt="" class="img-responsive"></a>
            <% else %>
                <a href="<%= post_path(post) %>"><img src="<%= asset_path post.image %>" alt="" class="img-responsive" ></a>
            <% end %>
            <h2 class="lead text-center"><%= post.title %></h2>
        </div>
      <br>
    <% end %>
    <% if Post.all.count > 10 %>
      <div class="col-right">
      <div class="apple_pagination">
        <%= will_paginate @posts %>
        </div>
      </div><!-- end col-right-->
    <% end %>
  </section> <!-- end section-->
  <aside class="col-md-4 hidden-xs">
    <%= render 'layouts/blog_sidebar' %>

  <%= render 'layouts/banner' %>
  </aside>
</div>
<br>