<%= content_for :page_title, 'About Coder Factory' %>
<%= content_for :title, 'About Coder Factory - the people, the places, the vision' %>
<%= content_for :description, 'The Coder Factory provides education in the latest web design and application development technologies to enable people to empower themselves and improve the lives of their family, their communities and their world.' %>
<%= content_for :icon, 'info' %>


	<aside class="col-md-8 ">
	<div class="col-sidebar">
		
		<!-- <h4>Testimonials</h4>
		<p>
			Our graduates have the skills, knowledge and confidence to build their own tech startups and create apps that make a difference in the world, help advance their careers and enrich their personal life.
		</p>
		<a href="testimonials.html" class=" button_red_small">Read more</a>
		<hr>
        
		<h4>How to apply</h4>
		<ul class=" list_2">
			<li>Decide on your goals </li>
			<li>Enter your current skills</li>
			<li>See your personalised programme</li>
		</ul>
		<p><a href="personalised-programme.html" class=" button_medium">Start now</a></p> -->
	

<!-- =========================Start Col right section ============================= --> 

    <div class="row ">
	    <div class="col-md-12">
	    <div  class="main-img">
	    <img src="<%= asset_path 'PLAY2.jpg' %>" class="img-responsive">
	    </div>
		    <h2>Coder Factory: in one sentence</h2>
		    <p>Coder Factory is a technology education provider catering to aspiring tech startup entrepreneurs and app developers.</p>
				<hr>
			</div>
			<div class="col-md-12">
				<h2>Our vision</h2>
				<p>To help more people become involved in the technology revolution by providing fun, empowering education.</p>
			<hr>
			</div>
			<div class="col-md-12">
				<h2>Our mission</h2>
				<p>Coder Factory provides education in the latest web and application development technologies. Graduates will be able to build their own tech startups or applications that help them in their careers and personal life.</p>
				<p>Coder Factory is a beacon for advancing technology education in Australia and globally to help advance the work and lives of people everywhere.</p>
				<p>Coder Factory undertakes a number of initiatives that encourage more people to learn coding and better their lives.</p>
				<p>Coder Factory supports tech startup entrepreneurs through education, networking opportunities and media exposure.</p>
				<p>Coder Factory provides coder community enriching events and development opportunities.</p>
			</div>
			<div class="col-md-12">
				<h2>Our values</h2>
				<dl>
					<dt>Student Success</dt>
					<dd>We are dedicated to our students’ success - our students love us because we do everything we can to help them be successful and fulfill their dreams.
					<br>-- If our students are successful, we will be successful</dd>

					<dt>Amazing Student Experiences</dt>
					<dd>First class student experiences - The Coder Factory cares for our students and their goals and dreams - the education delivery is continually improving, feedback is acted upon, the latest education technology is implemented.
					<br>-- Keep improving everything, all the time, strive for perfection</dd>

					<dt>Fostering Community Spirit</dt>
					<dd>Foster community spirit - The Coder Factory contributes to the coder and startup communities around the world. 
					<br>-- Take actions to make the world a better place by bringing people together</dd>

					<dt>Diversity</dt>
					<dd>Celebrate diversity by acknowledging that our differences are what make life interesting.
					We acknowledge that we are all different and add our own value.<br>-- Deliberately strive for a team that is diverse</dd>

					<dt>Honour and Respect</dt>
					<dd>All our actions, writings, communications are honest, ethical and show respect to everyone. Everyone at Coder Factory acts with integrity and takes the moral high ground. 
					<br>-- Integrity, honesty, ethical and moral practices</dd>
				</dl>
			</div>
		
		<div class="col-md-12">
			<h2>The team</h2>
			<div class="row">
				<% @profiles.each do |profile| %>
					<div class="col-md-4">
						<p class="text-center">
			        <% if profile.profile_picture %>
			          <%= cl_image_tag profile.profile_picture, class: 'img-responsive img-circle center-block', width: '180px'  %>
			        <% end %>
			        <strong><span><%= link_to profile.name, profile %></span></strong><br>
			        <%= profile.title %>
			        <br>
			        <%= link_to 'Read more', profile, class: 'btn btn-info btn-xs' %>
			      </p>
			      </div>
					<% end %>
			</div>
		</div>
		</div>
		</div>
		

    
	
	</aside>

	<aside class="col-md-4 hidden-xs hidden-sm">
		<%= render 'layouts/about_sidebar' %>
	</aside>
<p><%= render 'layouts/banner' %></p>