<%= simple_form_for(@referrer) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.association :user, label_method: :email, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :contact_phone, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :company, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :referral_code, input_html: { class: 'form-control'} %>
  </div>
  <%= f.button :submit %>
  
<% end %>
