<table class="table">
<tr>
<th>Name</th>
<th>Programme</th>
<th colspan="2"></th>
</tr>

<% @testimonials.each do |testimonial| %>
<tr>
<td><%= link_to testimonial.name, testimonial %></td>
<td><%= testimonial.popular_programme.name %></td>
<td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
<td><%= link_to 'Delete', testimonial, method: :delete %></td>
</tr>
<% end %>
</table>

<%= link_to "Create testimonial", new_testimonial_path %>