<h1>Listing user_goals</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Goal</th>
      <th>Notes</th>
      <th>Achieved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_goals.each do |user_goal| %>
      <tr>
        <td><%= user_goal.user %></td>
        <td><%= user_goal.goal %></td>
        <td><%= user_goal.notes %></td>
        <td><%= user_goal.achieved %></td>
        <td><%= link_to 'Show', user_goal %></td>
        <td><%= link_to 'Edit', edit_user_goal_path(user_goal) %></td>
        <td><%= link_to 'Destroy', user_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User goal', new_user_goal_path %>
