 <div id="menu-top">
            	<ul>
                	<li class="programmes">
                		<div class="dropdown">
	                		<a data-toggle="dropdown" href="#" title="Programmes" class="<%= 'active' if current_page?(controller: 'popular_programmes') %>">
	                			
	                			<span class='hidden-xs'>Programmes <span class="caret"></span></span>
	                		</a>  
	                		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                		    		<% @popular_programmes.each do |popular_programme| %>
	                		    			<li class="clear-icon">
	                		    				<a href="<%= popular_programme_path(popular_programme) %>" title="<%= popular_programme.name %>" class="nodropdowns">
	                		    					
	                		    					<%= image_tag popular_programme.icon, class: 'menu-icon' %>
	                		    					&nbsp;
	                		    					<%= popular_programme.name %>
	                		    				</a>
	                		    			</li>
	                		    		<% end %>
	                		  </ul>
                		</div>
                	</li>
                	<li class="blog"><a href="<%= blog_path %>" title="Blog" class="<%= 'active' if current_page?(blog_path) %>">
                	<span class='hidden-xs'>Blog</span></a>  </li>
                    <li class="about"><a href="<%= about_path %>" title="About" class="<%= 'active' if current_page?(about_path) %>"> <span class='hidden-xs'>About</span></a>  </li>
                    <li class="contact"><a href="<%= contact_path %>" title="Contact" class="<%= 'active' if current_page?(contact_path) %>"><span class='hidden-xs'>Contact</span></a>  </li>
                    
                    
                </ul>
            </div>