<header>
	<div class="container">
   	  <div class="row">
    	<div class="col-md-4" id="logo"><h1><a href="/"><%= image_tag 'logo22.png', class: 'logo' %></a></h1></div>
        <div class="col-md-8">
        
        	
            
            <div id="menu-top">
            	<ul>
                	<li><a href="/" title="Home">Home</a> | </li>
                    <li><a href="<%= contact_path %>" title="Contact">Contact</a> | </li>
                    <% if user_signed_in? %>
                        <li><%= link_to destroy_user_session_path, method: :delete do %>Sign out<% end %> | </li>
                        <% if current_user.profile %>
                            <li><%= link_to profile_path(current_user.profile) do %>My profile<% end %> | </li>
                        <% else %>
                            <li><%= link_to new_profile_path do %>Create your profile<% end %> | </li>
                        <% end %>
                    <% else %>
                        <li><a href="<%= new_user_session_path %>" title="Sign in">Sign in</a></li>
                    <% end %>
                </ul>
            </div>

        </div><!-- End span8-->
        </div><!-- End row-->
    </div><!-- End container-->
</header><!-- End Header-->