<nav>
<div class="megamenu_container container">
<a id="megamenu-button-mobile" href="#">Menu</a><!-- Menu button responsive-->
    
	<!-- Begin Mega Menu Container -->
	<ul class="megamenu">
		<!-- Begin Mega Menu -->
		<li><a href="<%= root_path %>" class="nodrop-down">Home</a></li>

		<li><a href="#" class="drop-down">Technology Education</a>
		<!-- Begin Item -->
        <div class="drop-down-container" id="icon-menu">
            <div class="row">
                <% @skill_groups.each do |skill_group| %>
                    <div class="col-md-3"><a href="<%= all_courses_path %>" title="All courses"><i class="fa fa-<%= skill_group.icon %> fa-3x"></i><%= skill_group.name %></a></div>
                <% end %>
                <div class="col-md-3"><a href="<%= all_courses_path %>" title="All courses"><i class="fa fa-list fa-3x"></i>All modules </a></div>
                <div class="col-md-3"><a href="<%= all_courses_path %>" title="All courses"><i class="fa fa-star fa-3x"></i>Popular modules</a></div>
                <div class="col-md-3"><a href="<%= all_courses_path %>" title="All courses"><i class="fa fa-anchor fa-3x"></i>Beginner Modules</a></div>
            </div><!-- End row -->
        </div><!-- End Item Container -->
        </li><!-- End Item -->


        <li><a href="#" class="drop-down">Programmes</a>
        <!-- Begin Item -->
        <div class="drop-down-container" id="icon-menu">
            <div class="row">
                <div class="col-md-3"><a href="<%= personalised_programme_path %>" title="Receive your personalised programme"><i class="fa fa-magic fa-3x"></i>Personalised programme </a></div>
                <div class="col-md-3"><a href="<%= all_courses_path %>" title="Popular programmes"><i class="fa fa-star fa-3x"></i>Popular programmes</a></div>
                <div class="col-md-3"><a href="<%= all_courses_path %>" title="Foundation programme"><i class="fa fa-anchor fa-3x"></i>Foundation programme</a></div>
                <div class="col-md-3"><a href="<%= all_courses_path %>" title="Web app coder programme"><i class="fa fa-certificate fa-3x"></i>Web App programme</a></div>
            </div><!-- End row -->
        </div><!-- End Item Container -->
        </li><!-- End Item -->
		
		
        
        <li><a href="<%= news_and_events_path %>" class="nodrop-down">News & Events</a></li>
        <li><a href="<%= community_path %>" class="nodrop-down">Community</a></li>
		<li><a href="<%= free_tutorials_path %>" class="nodrop-down">Free Tutorials</a></li>
        <li><a href="<%= blog_path %>" class="nodrop-down">Blog</a></li>
        <li><a href="<%= about_path %>" class="nodrop-down">About</a></li>
        <li><a href="<%= contact_path %>" class="nodrop-down">Contact</a></li>

		
	</ul><!-- End Mega Menu -->
</div>
</nav><!-- /navbar -->
