<div class="fullwidthbanner-container page-title">
	<div class="container">
		<div class="row text-center">
			<h1 class="col-md-12">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle-thin fa-stack-2x"></i>
			  <i class="fa fa-<%= yield(:icon) %> fa-stack-1x"></i>
			</span>
      
    	<%= yield(:page_title) %></h1>
			<div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a> <span class="divider"></span></li>
          <% if content_for?(:breadcrumb) %>
          	<li><a href="<%= yield(:breadcrumb_link) %>" alt="<%= yield(:breadcrumb) %>" title="<%= yield(:breadcrumb) %>"><%= yield(:breadcrumb) %></a> <span class="divider"></span></li>
          <% end %>

          <li class="active"><%= yield(:page_title) %></li>
        </ul>
  		</div>
		</div>
	</div>
</div>