<!-- =========================Start Col left section ============================= -->
	
  <div class="col-sidebar">
	  <div class="widget">
	  	<div class="row">
	  		<div class="col-md-12">
			  	<h3>Next programme</h3>
			  	
			  	<ul class="fa-ul">
			  	<% if @next_programme %>
			  		<li><i class="fa-li fa fa-map-marker"></i>
				  		<span class="all-caps">
				  		  <%= @next_programme.location.city %>
				  		</span>: 
				  		<%= link_to @next_programme.location.name, @next_programme.location, target: '_blank' %>
				  	</li>
			  		<li>
			  		  <i class="fa-li fa fa-calendar"></i>
			  		  <%= @next_programme.day %><br>
			  		<%= @next_programme.date.strftime('%e %B') %> - <%= @next_programme.end_date.strftime('%e %B %Y') %>
			  		</li>
			  		<li>
			  		  <i class="fa-li fa fa-clock-o"></i>
			  		<%= @next_programme.start_time.strftime('%l:%M%P') %> - <%= @next_programme.end_time.strftime('%l:%M%P') %>
			  		</li>
			  		<li>
			  		  <i class="fa-li fa fa-dollar"></i>
			  		<%= @next_programme.popular_programme.price %>
			  		</li>
			  		</ul>
			  	</div>
			  </div>
	  		<div class="row">
		  		<div class="col-md-12">
		  		<br>
			  		<%= link_to new_enrolment_path(intake: @next_programme.id), class: 'btn btn-lg btn-block btn-success' do %>
			  		      <span class="fa-stack">
			  		        <i class="fa fa-circle-thin fa-stack-2x"></i>
			  		        <i class="fa fa-edit fa-stack-1x"></i>
			  		      </span>
			  		      ENROL
			  		    <% end %>
			  	</div>
			  </div>
			  <% if @weekend_programmes.count > 1 %>
		  		<div class="row">
			  		<div class="col-md-12">
			  		<br>
			  		<a href="#scheduled" class="btn btn-default btn-block">More scheduled programmes</a>
			  		</div>
			  	</div>
			  <% end %>
		  		<div class="row">
			  		<div class="col-md-12">
			  		<br>
			  		<a href="#information" class="btn btn-default btn-block">More information</a>
			  		</div>
			  	</div>
		  		<div class="row">
			  		<div class="col-md-12">
			  		<br>
			  		<a href="#workshops" class="btn btn-default btn-block">Included workshops</a>
			  		</div>
			  	</div>
		  	<% else %>
	  		<p>There are currently no programmes scheduled. Please register your interest on our contact form, or sign up for our newsletter to stay informed of new scheduled programmes.</p>
	  		</div></div>
	  	<% end %>
	  </div>
	 </div>
	 <div class="col-sidebar">
	 <div class="widget">
	 			<div class="box-style-2 ">
	 		    	
	 		        	<%= cl_image_tag(@popular_programme.testimonials.first.image, :width => 150, :height => 150, :crop => :fill, class: 'img-responsive img-circle') %>
	 		            <p class="lead"><%= @popular_programme.testimonials.first.quote %><br><span class="text-muted">--<%= @popular_programme.testimonials.first.name %></span></p>
	 		            <p><%= @popular_programme.testimonials.first.text.html_safe %></p>
	 		        
	 		    </div>
	 </div>
	 </div>
	 <div class="col-sidebar">
  	<div class="widget">
      <h3>Other Programmes</h3>
      <ul class="submenu-col">
          
          <% @popular_programmes.each do |popular_programme| %>
          	<% if popular_programme != @popular_programme %>
            	<li><a href="<%= popular_programme_path(popular_programme) %>"><i class="fa fa-<%= popular_programme.icon %>"></i> <%= popular_programme.name %></a></li>
            <% end %>
          <% end %>

          
      </ul>
      
    </div>
    </div>
    <%= render 'layouts/banner' %>