<!--Star slider-->
    <section class="slider">
       <div class="fullwidthbanner-container">
					<div class="fullwidthbanner">
						<ul>
							<!-- THE FIRST SLIDE -->
							<li data-transition="flyin" data-slotamount="1" data-masterspeed="500"  data-thumb="<%= asset_path 'thumbs/thumb1.jpg' %>" data-delay="10000" >
										<img src="<%= asset_path 'video-still.png' %>" alt="">
                                        <div class="caption modern_very_big_redbg very_big_white lfl stl"
											 data-x="right"
											 data-y="120"
											 data-speed="2000"
											 data-start="1200"
											 data-easing="easeOutExpo"  >INSIDE<br> CODER FACTORY.</div>
										<div class="caption lfb stl"
											 data-x="right"
											 data-y="250"
											 data-speed="2000"
											 data-start="1500"
											 data-easing="easeOutExpo"  ><a href="all-courses.html" class="button_large"><i class="fa fa-play-circle"></i> WATCH THE MOVIE.</a></div>
								</li>
                                <!-- THE SECOND SLIDE -->
                         		<li data-transition="3dcurtain-horizontal" data-slotamount="1" data-masterspeed="300"  data-thumb="<%= asset_path 'thumbs/thumb2.jpg' %>">
                                <img src="<%= asset_path 'jobs.jpg' %>" alt="">
                        			<div class="caption modern_very_big_redbg very_big_white lfl stl"
											 data-x="center"
											 data-y="120"
											 data-speed="2000"
											 data-start="1200"
											 data-easing="easeOutExpo"  >DO YOU HAVE BIG DREAMS?</div>
										<div class="caption very_big_white lfl stl"
											 data-x="center"
											 data-y="250"
											 data-speed="2000"
											 data-start="1500"
											 data-easing="easeOutExpo"  >WHAT WILL YOU ACHIEVE?</div>
                                           
                                </li>
                                <!-- THE THIRD SLIDE -->
                                <li data-transition="3dcurtain-horizontal" data-slotamount="1" data-masterspeed="300"  data-thumb="<%= asset_path 'thumbs/thumb2.jpg' %>">
                                	<img src="<%= asset_path 'slide-2.jpg' %>" alt="">
                                    
                                     <div class="caption very_big_white lfl stl"
											 data-x="right"
											 data-y="180"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">JOIN THE COMMUNITY</div>
                                             
                                   <div class="caption lfb stl"
											 data-x="right"
											 data-y="250"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" ><a href="about.html" class="button_large">Read more</a></div>
                                </li>
                                <!-- THE FOURTH SLIDE -->
                                <li data-transition="cube" data-slotamount="1" data-masterspeed="300"  data-thumb="<%= asset_path 'thumbs/thumb2.jpg' %>">
                                	<img src="<%= asset_path 'slide-1.jpg' %>" alt="">
                                    
                                     <div class="caption very_big_white lfl stl"
											 data-x="right"
											 data-y="180"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">DIFFERENT COURSES AVAILABLE</div>
                                             
                                   <div class="caption lfr stl"
											 data-x="right"
											 data-y="250"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" ><a href="all-courses.html" class="button_large">Read more</a></div>
                                </li>
                                <!-- THE FIFTH SLIDE -->
                                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300"  data-thumb="<%= asset_path 'thumbs/thumb2.jpg' %>">
                                	<img src="<%= asset_path 'PLAY.jpg' %>" alt="">
                                    <div class="caption very_big_white lfl stl"
											 data-x="30"
											 data-y="180"
											 data-speed="300"
											 data-start="500"
											 data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">IMPROVE YOUR SKILLS</div>

										<div class="caption big_white lfl stl"
											 data-x="30"
											 data-y="250"
											 data-speed="300"
											 data-start="800"
											 data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">with expert teachers</div>
                                </li>
                                
						</ul>

						<div class="tp-bannertimer tp-bottom"></div>
					</div>
				</div>
</section><!--End slider-->