<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Web app development: courses and training @ Coder Factory" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "See our new improved programmes that help you become a confident coder. Programmes start every month." %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<!-- HTML5 and CSS3-in older browsers-->
<script src="<%= asset_path 'modernizr.custom.17475.js' %>"></script>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= render 'layouts/icons' %>
  <% if current_page?(blog_path) %>
    <%= render 'layouts/blog_meta' %>
  <% end %>
 
  <%= render 'layouts/post_meta' %>
   
  <%= render 'layouts/facebook_pixel' %>
  <%= render 'layouts/google_analytics' %>
  <meta name="alexaVerifyID" content="Rf8ZhG3dP3bRnNXklUH61rlYkq8"/>
  <style>
  body {font-family: 'Play', 'Questrial', sans-serif;}
  </style>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if current_page?(root_path) or current_page?(controller: 'enrolments', action: 'new') or current_page?(controller: 'payments', action: 'new') %>
    <%= yield %>
  <% else %>
    <%= render 'layouts/page_title' %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  <% end %>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag "scripts", "data-turbolinks-track" => true %>
  
</body>
</html>
