<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Web application development courses and training - Ruby on Rails & Angular.js - Coder Factory" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Coder Factory offers a range of part time web app development and startup courses. Technologies taught include Ruby on Rails, Angular.js, HTML5, CSS3, jQuery and many others." %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- HTML5 and CSS3-in older browsers-->
<script src="<%= asset_path 'modernizr.custom.17475.js' %>"></script>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= render 'layouts/icons' %>
  <% if current_page?(blog_path) %>
    <%= render 'layouts/blog_meta' %>
  <% end %>
 
  <%= render 'layouts/post_meta' %>
   
  <%= render 'layouts/facebook_pixel' %>
  <%= render 'layouts/google_analytics' %>
  <meta name="alexaVerifyID" content="Rf8ZhG3dP3bRnNXklUH61rlYkq8"/>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/slider' if current_page?(root_path) %>

  <div class="<%= 'container' if !current_page?(root_path) %>">
  <div class="<%= 'row' if !current_page?(root_path) %>">
    <%= yield %>
    
  </div></div>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag "scripts", "data-turbolinks-track" => true %>
  
</body>
</html>
