<!-- Begin Item -->
        <div class="drop-down-container">
            <div class="row">
            
                <div class="col-md-3">
                    <h4>Quick links</h4>
                    <ul class="list-menu">
                        <li><a href="<%= all_courses_path %>" title="All modules">All modules</a></li>
                        <li><a href="<%= free_tutorials_path %>" title="Free tutorials">Free tutorials</a></li>
                        <li><a href="<%= people_path %>" title="Meet the people">Meet the people</a></li>
                        <li><a href="contact.html" title="Apply for a course">Apply for a course</a></li>
                        <li><a href="about-us.html" title="About">About </a></li>
                        <li><a href="news-events.html" title="News">News</a></li>
                        <li><a href="contact.html" title="Contact">Ask for more information</a></li>
                    </ul>
                    <p><a href="all-courses.html" title="Courses" class="button_medium add-bottom-20">View all courses</a></p>
                </div>
                
                <div class="col-md-9">
                    <div class="row">
                    <% @skill_groups.each_with_index do |skill_group, index| %>
                        <% if (index)%3 == 0 %>
                            </div>
                            <div class="row">
                        <% end %>
                            <div class="col-md-4">
                                <h5><a href="#"><%= fa_stacked_icon skill_group.icon, base: "square-o" %> <%= skill_group.name %></a> <span class="badge"><%= skill_group.units.count %></span></h5>
                                <p><%= skill_group.description %></p>
                                <p><a href="course-detail.html" class="button_red_small">Read more</a></p>
                            </div>
                    <% end %>

                        
        </div><!-- End Item Container -->
        </li><!-- End Item -->

        <li><a href="#" class="drop-down">About</a>
		<!-- Begin Item -->
		<div class="drop-down-container">
        
			<div class="row">
            
				<div class="col-md-3">
                	<h4>Quick links</h4>
					<ul class="list-menu">
						<li><a href="all-courses.html" title="All courses">All courses</a></li>
						<li><a href="course-detail.html" title="Course detail">Course detail</a></li>
						<li><a href="staff.html" title="Meet the team">Meet the team</a></li>
						<li><a href="contact.html" title="Apply for a course">Apply for a course</a></li>
						<li><a href="about-us.html" title="About">About </a></li>
						<li><a href="news-events.html" title="News">News</a></li>
						<li><a href="contact.html" title="Contact">Ask for more information</a></li>
					</ul>
                    <p><a href="all-courses.html" title="Courses" class="button_medium add-bottom-20">View all courses</a></p>
				</div>
                
                    <div class="col-md-9">
                        <ul class="tabs">
                            <li><a class="active" href="#section-1">Staff</a></li>
                            <li><a href="#section-2">History</a></li>
                        </ul>
                        
                        <ul class="tabs-content">
                        
                            <li class="active" id="section-1">
                            <div class="row">
                            
                                <div class="col-md-3">
                                    <p><img src="<%= asset_path 'teacher-small.jpg' %>" class="img-rounded shadow" alt=""></p>
                                    <h5>Ms. Annie Ann <em>Management</em></h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="staff.html" class="button_red_small" title="staff">Read more</a></p>
                                </div>
                                
                                <div class="col-md-3">
                                    <p><img src="<%= asset_path 'teacher-small-2.jpg' %>" class="img-rounded shadow" alt=""></p>
                                    <h5>Ms. Annie Ann <em>Business</em></h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="staff.html" class="button_red_small" title="staff">Read more</a></p>
                                </div>
                                
                                <div class="col-md-3">
                                    <p><img src="<%= asset_path 'teacher-small-3.jpg' %>" class="img-rounded shadow" alt=""></p>
                                    <h5>Ms. Annie Ann <em>Administration</em></h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="staff.html" class="button_red_small" title="staff">Read more</a></p>
                                </div>
                                
                            </div><!-- End row -->
                            </li>
                            
                            <li id="section-2">
                            <p class="lead ">An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. An utinam reprimique duo, putant mandamus cu qui.</p>
                            <hr>
                            
                            <div class="row">
                            
                                <div class="col-md-4">
                                    <h5>History</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                </div>
                                
                                <div class="col-md-4">
                                    <h5>Mission</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. <strong>Autem possim his cu</strong>, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                </div>
                                
                            </div><!-- End row -->
                            </li>
                            
                        </ul><!-- End tabs-->
                    </div><!-- End span9 -->

			</div><!-- End row -->
		</div><!-- End Item Container -->
		</li><!-- End Item -->


        
        <li><a href="#" class="drop-down">Pages</a>
        <!-- Begin Item -->
        <div class="drop-down-container" id="icon-menu">
            <div class="row">
                <div class="col-md-3 "><a href="about-us.html" title="About "><i class="fa fa-building-o fa-3x"></i>About </a></div>
                <div class="col-md-3"><a href="about-us.html" title="Academics"><i class="fa fa-flag fa-3x"></i>Academics</a></div>
                <div class="col-md-3"><a href="all-courses.html" title="All courses"><i class="fa fa-list fa-3x"></i>All courses </a></div>
                <div class="col-md-3"><a href="course-detail.html" title="Course detail"><i class="fa fa-book fa-3x"></i>Course detail</a></div>
                <div class="col-md-3"><a href="staff.html" title="Staff page"><i class="fa fa-group fa-3x"></i>Staff page</a></div>
                <div class="col-md-3 "><a href="contact.html" title="Contact"><i class="fa fa-envelope fa-3x"></i>Contact</a></div>
                <div class="col-md-3"><a href="contact.html" title="Plan a visit"><i class="fa fa-eye fa-3x"></i>Plan a visit</a></div>
                <div class="col-md-3"><a href="news-events.html" title="News"><i class="fa fa-chevron-right fa-3x"></i>News</a></div>
                <div class="col-md-3"><a href="blog.html" title="Blog"><i class="fa fa-comments-alt fa-3x"></i>Blog</a></div>
                <div class="col-md-3"><a href="blog_post.html" title="Single Post"><i class="fa fa-comments fa-3x"></i>Single Post</a></div>
                <div class="col-md-3"><a href="typography.html" title="Typography"><i class="fa fa-font fa-3x"></i>Typography</a></div>
                <div class="col-md-3"><a href="javascripts.html" title="Javascript"><i class="fa fa-code fa-3x"></i>Javascript</a></div>
            </div><!-- End row -->
        </div><!-- End Item Container -->
        </li><!-- End Item -->

        <li><a href="#" class="drop-down">Contact</a>
        <!-- Begin Item -->
        <div class="drop-down-container">
        
            <div class="row">
            
                <div class="col-md-6">
                    <iframe height="300" src="https://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=new+york&amp;sll=40.714353,-74.005973&amp;sspn=0.868126,2.422485&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+Stati+Uniti&amp;t=m&amp;z=10&amp;iwloc=A&amp;ll=40.714353,-74.005973&amp;output=embed">
                    </iframe>
                </div>
                
                <div class="col-md-6">
                    <h4>Address</h4>
                    <ul>
                        <li><i class="fa fa-home"></i> 11 Fifth Ave, Loftus - NEW JERSEY, US</li>
                        <li><i class="fa fa-phone"></i> Telephone: + 61 (2) 8093 3400</li>
                        <li><i class="fa fa-phone-sign"></i> Fax: +61 (2) 9542 3599</li>
                        <li><i class="fa fa-envelope"></i> Email: <a href="#">submissions@domain.com</a></li>
                    </ul>
                    <br>
                    <hr>
                    
                    <div class="row">
                    
                        <div class="col-md-3">
                            <h5>Questions?</h5>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                            <p><a href="contact.html" class="button_red_small">Read more</a></p>
                        </div>
                        
                        <div class="col-md-3">
                            <h5>Apply now</h5>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                            <p><a href="contact.html" class="button_red_small" title="Contact">Contact us</a></p>
                        </div>
                        
                    </div><!-- End row -->
                </div><!-- End Span6 -->
            </div><!-- End row-->
        </div><!-- End Item Container -->
        </li><!-- End Item -->

        <li><a href="#" class="drop-down">Community</a>
        <!-- Begin Item -->
        <div class="drop-down-container">
        
            <div class="row">
                <div class="col-md-7">
                    <iframe height="300" src="//www.youtube.com/embed/4EYx5eEqVBE?wmode=transparent"></iframe>
                </div>
                <div class="col-md-5">
                    <h4>Teach the world to code</h4>
                    <p>
                        An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam.
                    </p>
                    <p>
                        An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam.
                    </p>
                    <p><a href="all-courses.html" title="All courses" class="button_red_small">Read more</a></p>
                </div>
            </div><!-- End row -->
            
            <hr>
            
            <div class="row">
            
                <div class="col-md-3">
                    <h5>Meetup groups</h5>
                    <ul class="list-menu">
                        <li><a href="http://meetup.com/Sydney-on-Rails" title="Sydney-on-Rails" target="_blank">Sydney on Rails</a></li>
                        <li><a href="http://meetup.com/Sunday-Coder-Club" title="Sunday Coder Club" target="_blank">Sunday Coder Club</a></li>
                        <li><a href="http://meetup.com/Entrepreneurial-Australians" title="Entrepreneurial Australians" target="_blank">Sydney Entrepreneurs</a></li>
                    </ul>
                </div>
                
                <div class="col-md-3">
                    <h5>Kids coding</h5>
                    <ul class="list-menu">
                        <li><a href="all-courses.html" title="All courses">Quick Facts</a></li>
                        <li><a href="all-courses.html" title="All courses">Mission</a></li>
                        <li><a href="all-courses.html" title="All courses">President of the College</a></li>
                    </ul>
                </div>
                
                <div class="col-md-3">
                    <h5>Masters</h5>
                    <ul class="list-menu">
                        <li><a href="all-courses.html" title="All courses">Quick Facts</a></li>
                        <li><a href="all-courses.html" title="All courses">Mission</a></li>
                        <li><a href="all-courses.html" title="All courses">President of the College</a></li>
                    </ul>
                </div>
                
                <div class="col-md-3">
                    <h5>Courses</h5>
                    <ul class="list-menu">
                        <li><a href="all-courses.html" title="All courses">Quick Facts</a></li>
                        <li><a href="all-courses.html" title="All courses">Mission</a></li>
                        <li><a href="all-courses.html" title="All courses">President of the College</a></li>
                    </ul>
                </div>
                
            </div><!-- End row -->
        </div><!-- End Item Container -->
        </li><!-- End Item -->