<li><a href="<%= free_tutorials_path %>" class="nodrop-down">Free Tutorials</a></li>
<li><a href="#" class="drop-down">Technology Education <span class="caret"></span></a>
    		<!-- Begin Item -->
            <div class="drop-down-container" id="icon-menu">
                
                <div class="row">
                <div class="col-md-12"><h3>Workshops</h3></div>
                    
                    <% @menu_skill_groups.each do |skill_group| %>
                        <% if skill_group.units.count > 0 %>
                            <div class="col-md-3"><a href="<%= all_workshops_path(skill_group: skill_group) %>" title="<%= skill_group.name %> Workshops"><i class="fa fa-<%= skill_group.icon %> fa-3x"></i><%= skill_group.name %></a></div>
                        <% end %>
                    <% end %>
                    <div class="col-md-3"><a href="<%= all_workshops_path %>" title="All workshops"><i class="fa fa-list fa-3x"></i>All Workshops</a></div>
                </div><!-- End row -->
                <div class="row">
                    <div class="col-md-12"><h3>Programmes</h3></div>
                    <div class="col-md-3"><a href="/popular_programmes/beginner-coder-weekend-programme" title="Foundation Programme"><i class="fa fa-anchor fa-3x"></i>Foundation programme</a></div>
                    <div class="col-md-3"><a href="/popular_programmes/web-application-developer-programme" title="Web App Developer Programme"><i class="fa fa-anchor fa-3x"></i>Web app developer</a></div>
                     <div class="col-md-3"><a href="<%= personalised_programme_path %>" title="Receive your personalised programme"><i class="fa fa-graduation-cap fa-3x"></i>Personalised programme </a></div>
                    <div class="col-md-3"><a href="<%= popular_programmes_path %>" title="Popular programmes"><i class="fa fa-star fa-3x"></i>Popular programmes</a></div>
                    
                </div>
            </div><!-- End Item Container -->
        </li><!-- End Item -->